@use "../abstracts/variables";

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	line-height: 140%;
	color: variables.$color-text-100;
	font-size: variables.$ui-font-size-base;
}

h1 {
	font-weight: 700;
}

h2,
h3 {
	font-weight: 400;
}

h1 {
	font-size: variables.$ui-font-size-h1;
	line-height: 120%;
}

h2 {
	font-size: variables.$ui-font-size-h2;
	line-height: 120%;
}

h3 {
	font-size: variables.$ui-font-size-h3;
	line-height: 120%;
}

.section-title {
	position: absolute;
	left: -9999px;
	height: 1px;
	width: 1px;
	overflow: hidden;
}
