.hotkey {
	border: 1px solid $color-skill-inactive;
	border-radius: 3px;
	padding: 0.4rem 0.2rem;
}

.fa-circle-question {
	cursor: pointer;
}

.relative {
	position: relative;
}

.mt-s {
	margin-top: 2rem;
}

.mt-m {
	margin-top: 4rem;
}

.mt-l {
	margin-top: 6rem;
}

.mt-xl {
	margin-top: 10rem;
}

.mb-s {
	margin-bottom: 2rem;
}

.mb-m {
	margin-bottom: 4rem;
}

.mb-l {
	margin-bottom: 6rem;
}

.mb-xl {
	margin-bottom: 10rem;
}
