@use 'sass:color';
@use 'variables';

@mixin desktop-medium {
	@media (max-width: 1401px) {
		@content;
	}
}

@mixin desktop-small {
	@media (max-width: 1123px) {
		@content;
	}
}

@mixin tablet {
	@media (max-width: 849px) {
		@content;
	}
}

@mixin phone {
	@media (max-width: 499px) {
		@content;
	}
}

@mixin page-mask($opacity: 0.4) {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 20;
	background-color: rgba(variables.$color-bg-900, $opacity);
	opacity: 1;
	animation: fade-in 0.1s ease-in;
}

// Modal and Dialog page-mask
@mixin modal-page-mask($opacity: 0.4) {
	display: flex;
	position: sticky;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100dvh;
	z-index: 20;
	background-color: rgba(variables.$color-bg-900, $opacity);
	opacity: 1;
	animation: fade-in 0.1s ease-in;
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@mixin popup {
	position: fixed;
	z-index: 21;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	min-width: 40rem;
	border-radius: 1rem;
	background-color: variables.$color-bg-700;
}

@mixin ui-shadow {
	box-shadow: 0 3px 6px rgba(18, 18, 18, 0.15);
}

@mixin ui-background-blur {
	backdrop-filter: blur(6px);
}

// Material UI states
@mixin hovered($text-color, $background-color) {
	@media (hover: hover) {
		&:hover {
			background-color: color.mix($text-color, $background-color, 4%);
		}
	}

	@media (hover: none) {
		&:active {
			background-color: color.mix($text-color, $background-color, 4%);
		}
	}
}

@mixin focused($text-color, $background-color) {
	outline: 1px solid color.mix($text-color, $background-color, 100%);
	background-color: color.mix($text-color, $background-color, 12%);
}

@mixin disabled-filled($background-color) {
	color: variables.$color-text-400;
	background-color: color.mix(variables.$color-bg-050, $background-color, 12%);
}

@mixin disabled-outlined($text-color, $outline-color) {
	color: variables.$color-text-400;
	// color: mix($color-bg-050, $text-color, 38%);
	outline: 1px solid color.mix(variables.$color-bg-050, $outline-color, 12%);

	& path {
		fill: color.mix(variables.$color-bg-050, $text-color, 38%);
	}
}

@mixin showTooltip {
	.tooltip {
		transition: opacity 0.18s 0.15s cubic-bezier(0.68, -0.55, 0.27, 1.55),
			visibility 0.2s 0.2s ease-in;
	}

	&:hover {
		.tooltip {
			visibility: visible;
			opacity: 1;
		}
	}

	&:focus {
		.tooltip {
			visibility: visible;
			opacity: 1;
		}
	}
}

@mixin link {
	color: variables.$color-primary-200;
	text-decoration: underline;
}

@mixin hover-touch {
	@media (hover: hover) {
		&:hover {
			@content;
		}
	}

	@media (hover: none) {
		&:active {
			@content;
		}
	}
}

@mixin slide-fade-toggle(
	$class: 'shown',
	$duration: 180ms,
	$max-height: 500px
) {
	opacity: 0;
	max-height: 0;
	overflow: hidden;
	transition: opacity $duration ease-in-out, max-height $duration ease-in-out,
		transform $duration ease-in-out;

	transform: translateY(-10px);

	&.#{$class} {
		opacity: 1;
		max-height: $max-height;
		transform: translateY(0);
	}
}
