@use "variables";

.mobility {
	color: variables.$color-mobility;
}
.mobility-bg {
	background-color: variables.$color-mobility;
}
.mobility-bg-a {
	background-color: variables.$color-mobility-a;
}

.vitality {
	color: variables.$color-vitality;
}
.vitality-bg {
	background-color: variables.$color-vitality;
}
.vitality-bg-a {
	background-color: variables.$color-vitality-a;
}

.weapon {
	color: variables.$color-weapon;
}
.weapon-bg {
	background-color: variables.$color-weapon;
}
.weapon-bg-a {
	background-color: variables.$color-weapon-a;
}
