@use 'variables' as v;

.mobility {
	color: v.$color-mobility;
}
.mobility-bg {
	background-color: v.$color-mobility;
}
.mobility-bg-a {
	background-color: v.$color-mobility-a;
}

.vitality {
	color: v.$color-vitality;
}
.vitality-bg {
	background-color: v.$color-vitality;
}
.vitality-bg-a {
	background-color: v.$color-vitality-a;
}

.weapon {
	color: v.$color-weapon;
}
.weapon-bg {
	background-color: v.$color-weapon;
}
.weapon-bg-a {
	background-color: v.$color-weapon-a;
}
