.mobility {
	color: $color-mobility;
}
.mobility-bg {
	background-color: $color-mobility;
}

.vitality {
	color: $color-vitality;
}
.vitality-bg {
	background-color: $color-vitality;
}

.weapon-handling {
	color: $color-weapon-handling;
}
.weapon-handling-bg {
	background-color: $color-weapon-handling;
}
