.mobility {
	color: $color-mobility;
}
.mobility-bg {
	background-color: $color-mobility;
}
.mobility-bg-a {
	background-color: $color-mobility-a;
}

.vitality {
	color: $color-vitality;
}
.vitality-bg {
	background-color: $color-vitality;
}
.vitality-bg-a {
	background-color: $color-vitality-a;
}

.weapon {
	color: $color-weapon;
}
.weapon-bg {
	background-color: $color-weapon;
}
.weapon-bg-a {
	background-color: $color-weapon-a;
}
