.slide-fade-enter-active,
.slide-fade-leave-active {
	transition: opacity 0.4s ease-in-out, transform 0.3s ease-in-out;
}

.slide-fade-enter-from,
.slide-fade-leave-to {
	transform: translateX(-10rem);
	opacity: 0;
}
.slide-fade-enter-to,
.slide-fade-leave-from {
	transform: translateX(0rem);
	opacity: 1;
}
