$color-white: #fff;
$color-background: #27373d;
$color-blue: #313a46;
$color-black: #111111;
$color-black-light-1: #222222;
$color-black-light-2: #262626;

$color-mobility: #97ff94;
$color-vitality: #ff9497;
$color-weapon-handling: #fffe9a;

$color-test: #9c0d63;
