$color-white: #fff;
$color-background: #27373d;
$color-blue: #313a46;
$color-black: #111111;
$color-black-light-1: #222222;
$color-black-light-2: #262626;

$color-mobility: #97ff94;
$color-vitality: #ff9497;
$color-weapon-handling: #fffe9a;

$color-highlight: #f9da75;
$color-skill-inactive: #7f8388;

$color-error: #ff4136;
$color-success: #2ecc40;

$color-test: #9c0d63;
