@use '../abstracts/mixins';
@use '../abstracts/variables' as v;

// сс = custom calculator
.cc {
	&__stats-block {
		display: flex;
		gap: 4rem;
		flex-direction: column;
		align-items: center;

		@include mixins.phone {
			gap: 2rem;
		}
	}

	&__title {
		@include mixins.tablet {
			text-align: center;
		}
	}

	// Upper stats block
	&__stats-flexbox {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 2rem;
	}

	&__stat-item {
		background-color: v.$color-bg-a-800;
		min-width: 11rem;
		border-radius: 0.8rem;
		border: 1px solid v.$color-bg-a-050;
		overflow: hidden;
	}

	&__stat-amount {
		display: block;
		max-width: 11rem;
		padding: 1.6rem;
		margin: 0 auto;
		text-align: center;
		font-size: v.$ui-font-size-h1;
	}

	&__stat-name {
		padding: 0.8rem 1.2rem;
		font-size: v.$ui-font-size-xs;
		color: v.$color-bg-800;
		font-weight: 700;
		text-transform: uppercase;
		text-align: center;
	}

	// main block
	&__main-block {
		margin-top: 10rem;
		display: flex;
		gap: 15%;

		@include mixins.tablet {
			flex-direction: column;
			gap: 6rem;
			margin-top: 8rem;
		}

		@include mixins.phone {
			gap: 4rem;
			margin-top: 6rem;
		}
	}

	&__col {
		flex: 1 1 50%;
	}

	&__text-desc {
		margin-top: 1.6rem;
		color: v.$color-text-400;
		font-size: v.$ui-font-size-s;
	}

	&__chips-flex {
		margin-top: 3.2rem;
		display: flex;
		flex-wrap: wrap;

		&--square {
			gap: 2rem;
		}

		&--wide {
			gap: 1.2rem;
		}

		@include mixins.tablet {
			justify-content: space-around;
		}
	}

	// ========
	// Это чипы
	&__tag-item {
		position: relative;
	}

	&__tag-item:has(> input:focus-visible) {
		@include mixins.focused(v.$color-text-100, v.$color-bg-a-500);
	}

	&__tag-item:has(> input:focus-visible).active {
		@include mixins.focused(v.$color-primary-200, v.$color-bg-a-500);
	}

	&__tag-checkbox {
		position: absolute;
		inset: 0 0 0 0;
		opacity: 0;
	}

	&__tag-label {
		content: '';
		position: absolute;
		inset: 0 0 0 0;
		opacity: 0;
		z-index: 10;
		cursor: pointer;
	}

	// Tooltip
	&__tag-tooltip-classes-flex {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 5px;

		& img {
			height: 2.4rem;
			aspect-ratio: 1/1;
		}
	}

	&__tag-line {
		display: block;
		height: 1px;
		margin: 0.4rem auto;
		width: calc(100% - 2rem);
		background-color: v.$color-bg-a-050;
	}

	// Bottom element
	&__btn {
		margin: 4rem auto 0;
		display: block;
	}

	&__disclaimer {
		color: v.$color-text-700;
		font-size: v.$ui-font-size-s;
		text-align: center;
		margin: 2rem auto 0;
		width: 100%;
		max-width: 54rem;

		& a {
			@include mixins.link;
		}
	}

	// Second stage styles
	&__s-data-block {
		display: flex;
		flex-wrap: wrap;
		gap: 4rem;
		margin-top: 1.2rem;
	}

	&__s-stats-block {
		display: flex;
		align-items: center;
		gap: 0.8rem;
	}

	&__s-stat {
		display: flex;
		align-items: center;
		gap: 0.4rem;
	}

	&__s-inline-separator {
		color: v.$color-text-700;
	}

	&__s-tags-block {
		display: flex;
		align-items: center;
		gap: 0.4rem;
	}

	&__s-btn-back {
		margin-top: 2rem;
	}
}
