.event {
	&__title {
		text-align: center;
	}

	&__end {
		text-align: center;
		color: $color-text-400;
	}

	&__content {
		margin-top: 6rem;
		display: flex;
		justify-content: space-between;
		gap: 10rem;

		@include desktop-small {
			gap: 6rem;
		}

		@include tablet {
			flex-direction: column;
		}
	}

	&__left-col {
		flex: 1 1 83rem;

		@include tablet {
			order: 1;
			flex: 1 1 auto;
		}
	}

	&__header {
		display: flex;
		align-items: baseline;
		justify-content: center;
		gap: 0.8rem;

		& .btn {
			padding: 0.8rem;
			transform: translateY(-1px);
		}

		@include tablet {
			align-items: center;
			text-wrap: balance;
			text-align: center;
		}
	}

	&__cards-flex {
		display: flex;
		flex-wrap: wrap;
		gap: 2rem;
		margin-top: 4rem;

		@include tablet {
			justify-content: center;
		}
	}

	// Cards
	&__card {
		position: relative;
		width: 10rem;
		background-color: $color-bg-a-500;
		border-radius: 0.8rem;
		padding: 2rem 1.6rem;
		transform: rotateZ(0) scale(1);
		opacity: 1;
		transition: transform 0.3s ease-in, opacity 0.3s ease-in;
		cursor: pointer;

		@include ui-shadow;
		@include ui-background-blur;

		&.finish {
			color: $color-text-700;

			& .event__time {
				color: $color-text-700;
			}
		}

		&--active {
			outline: 1px solid $color-primary-200;

			& .event__counter {
				color: $color-primary-200;
			}
		}

		&.skipped {
			opacity: 0.6;
			transform: rotateZ(-6deg) scale(0.96);
		}

		@include showTooltip;
	}

	&__counter {
		position: absolute;
		top: 0.6rem;
		left: 0.6rem;
		line-height: 100%;
		color: $color-text-700;
		font-size: $ui-font-size-s;
	}

	&__date {
		font-size: 3.6rem;
		text-align: center;
		line-height: 100%;
	}

	&__month {
		margin-top: 0.4rem;
		text-align: center;
		line-height: 100%;
	}

	&__time {
		color: $color-text-400;
		font-size: $ui-font-size-s;
		text-align: center;
		margin-top: 0.8rem;
	}

	&__mobile-reward-block {
		border-top: 1px solid $color-bg-050;
		margin-top: 0.4rem;
		padding-top: 0.8rem;
		color: $color-text-400;
		word-break: break-word;
		text-wrap: balance;
		text-align: center;
		hyphens: auto;
		line-height: 130%;
		flex-direction: column;
		gap: 0.4rem;
		font-size: $ui-font-size-xs;
		display: none;

		@include tablet {
			display: flex;
		}
	}

	// Right column
	&__right-col {
		margin-top: 8rem;
		flex: 0.5 0.5 45rem;

		@include tablet {
			margin-top: 0;
			flex: 1 1 auto;
		}
	}

	&__timer-block {
		display: flex;
		gap: 1.2rem;
		justify-content: center;
	}

	&__countdown-card {
		width: 7rem;
		padding: 1.2rem 0.8rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 0.4rem;
		background-color: $color-bg-500;
		border-radius: 0.8rem;
		@include ui-shadow;
	}

	&__countdown-time {
		line-height: 100%;
		font-size: $ui-font-size-h3;
	}

	&__countdown-desc {
		line-height: 100%;
		color: $color-text-400;
		font-size: $ui-font-size-xs;
	}

	&__reward-block {
		margin-top: 4rem;
		display: flex;
		gap: 1.2rem;
	}

	&__chip {
		border-radius: 0.8rem;
		padding: 1.2rem;
		background-color: $color-bg-700;
		border: none;
		@include ui-shadow;
		@include ui-background-blur;
		flex: 0 0 auto;

		& svg {
			display: block;
		}

		@include pressed($color-text-100, $color-bg-700, 2.5);

		&:hover {
			@include hovered($color-text-100, $color-bg-700);
		}

		&:focus {
			@include focused($color-text-100, $color-bg-700);
		}

		&--active {
			background-color: $color-primary-600;

			@include pressed($color-text-100, $color-primary-600, 2.5);

			&:hover {
				@include hovered($color-text-100, $color-primary-600);
			}

			&:focus {
				@include focused($color-text-100, $color-primary-600);
			}
		}
	}

	&__progress-bar-block {
		position: relative;
		flex: 1 1 auto;
	}

	&__progress-bar {
		background-color: $color-bg-700;
		height: 4rem;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		overflow: hidden;
		border-radius: 0.8rem;
	}

	&__progress-bar-progress {
		position: absolute;
		inset: 0 0 0 0;
		z-index: 2;

		background: linear-gradient(to right, $color-primary-600 0, transparent 0);
	}

	&__progress-bar-animated {
		position: absolute;
		inset: 0 0 0 -28px;
		z-index: 1;
		background: repeating-linear-gradient(
			-45deg,
			rgba($color-text-700, 0.05),
			rgba($color-text-700, 0.05) 10px,
			transparent 10px,
			transparent 20px
		);
		animation: progressBarAnimation 4s linear infinite;
	}

	&__progress-bar-stage {
		position: absolute;
		color: $color-text-700;
		font-size: $ui-font-size-xs;
		top: calc(100% + 0.4rem);

		&--current {
			left: 1.2rem;
		}

		&--next {
			right: 1.2rem;
		}

		&::after {
			position: absolute;
			left: 50%;
			bottom: calc(100% - 0.2rem);
			content: '';
			height: 2rem;
			width: 1px;
			background-color: $color-bg-050;
			z-index: -1;
		}
	}

	// description block
	&__reward-description-block {
		margin-top: 3.2rem;
		padding: 0 5.2rem;
	}

	&__reward-wrapper {
		position: relative;
		padding: 0.8rem;
	}

	&__reward-item {
		&--right {
			text-align: right;
		}
	}

	&__reward-boundary {
		position: absolute;
		top: 0;
		bottom: 0;
		width: 5px;
		border-top: 1px solid $color-bg-050;
		border-bottom: 1px solid $color-bg-050;

		&::after {
			position: absolute;
			content: '';
			width: 3.3rem;
			height: 1px;
			top: 50%;
			transform: translateY(-50%);
			background-color: $color-bg-050;
		}

		&::before {
			position: absolute;
			content: '';
			height: calc(100% + 2rem);
			transform: translateY(calc(-50% - 1rem));
			z-index: -1;
			background-color: $color-bg-050;
		}

		&--left {
			transform-origin: left;
			left: 0;
			border-left: 1px solid $color-bg-050;

			&::after {
				right: 5px;
			}

			&::before {
				right: calc(5px + 3.2rem);
				width: 1px;
			}
		}

		&--right {
			transform-origin: right;
			right: 0;
			border-right: 1px solid $color-bg-050;

			&::after {
				left: 5px;
			}

			&::before {
				left: calc(5px + 3.2rem);
				width: 1px;
			}
		}
	}
}

@keyframes progressBarAnimation {
	0% {
		inset: 0 0 0 -28px;
	}

	100% {
		inset: 0 -28px 0 0;
	}
}

@keyframes skip-card {
	from {
		opacity: 1;
		transform: rotateZ(0) scale(1);
	}
	to {
		opacity: 0.6;
		transform: rotateZ(-8deg) scale(0.9);
	}
}

// Inline Rewrads Mode
.inline-rewards.event__card {
	.event {
		&__mobile-reward-block {
			display: flex;
		}
	}
}
