@use '../abstracts/mixins';
@use '../abstracts/variables' as v;

.event {
	&__title {
		text-align: center;
	}

	&__title--link:hover {
		text-decoration: underline;
	}

	&__end {
		text-align: center;
		color: v.$color-text-400;
	}

	&__content {
		margin-top: 4rem;
		display: flex;
		justify-content: space-between;
		gap: 10rem;

		@include mixins.desktop-small {
			gap: 6rem;
		}

		@include mixins.tablet {
			flex-direction: column;
		}
	}

	&__left-col {
		flex: 1 1 83rem;

		@include mixins.tablet {
			order: 1;
			flex: 1 1 auto;
		}
	}

	&__header {
		display: flex;
		align-items: center;
		gap: 0.8rem;

		& .btn {
			padding: 0.8rem;
			transform: translateY(-1px);
		}

		@include mixins.tablet {
			justify-content: center;
			align-items: center;
			text-wrap: balance;
		}
	}

	&__cards-container {
		gap: 2rem;
		margin-top: 2rem;

		@include mixins.tablet {
			justify-content: center;
		}

		&--flex {
			display: flex;
			flex-wrap: wrap;
		}

		&--grid {
			display: grid;
			grid-template-columns: repeat(
				auto-fill,
				minmax(calc(var(--ui-card-width) - 1rem), 1fr)
			);
		}
	}

	// Cards
	&__card {
		position: relative;
		min-width: auto;
		width: auto;
		flex: 1 1 calc(var(--ui-card-width) - 1rem);
		background-color: v.$color-bg-a-500;
		border-radius: 0.8rem;
		padding: 2rem 1.6rem;
		transform: rotateZ(0) scale(1);
		opacity: 1;
		cursor: pointer;

		@include mixins.ui-shadow;
		@include mixins.ui-background-blur;

		@include mixins.phone {
			flex: 1 1 calc(var(--ui-card-width) - 1rem);
			min-width: 40%;
			max-width: 100%;
		}

		@media screen and (max-width: 420px) {
			& {
				min-width: 100%;
			}
		}

		&.animated {
			transition: transform 0.4s cubic-bezier(0.5, 5, 0.615, 0.795),
				opacity 0.3s ease-out;
		}

		&.finish {
			color: v.$color-text-700;

			& .event__time {
				color: v.$color-text-700;
			}
		}

		&--active {
			outline: 1px solid v.$color-primary-200;

			& .event__counter {
				color: v.$color-primary-200;
			}
		}

		&.skipped {
			opacity: 0.75;

			&:nth-child(5n + 1) {
				transform: rotateZ(-3deg);
			}
			&:nth-child(5n + 2) {
				transform: rotateZ(2deg);
			}
			&:nth-child(5n + 3) {
				transform: rotateZ(-5deg);
			}
			&:nth-child(5n + 4) {
				transform: rotateZ(-2deg);
			}
			&:nth-child(5n) {
				transform: rotateZ(2deg);
			}
		}
		transition: opacity 0.12s ease-in-out;

		&.skipped:hover {
			opacity: 1;
		}

		&:hover .event__stamp-wrapper {
			transform: translateX(calc(-50% - 0.5rem)) translateY(-1rem)
				rotateX(30deg) rotateY(-10deg) scale(1.05);
			opacity: 0;
		}

		@include mixins.showTooltip;
	}

	&__counter {
		position: absolute;
		top: 0.6rem;
		left: 0.6rem;
		line-height: 100%;
		color: v.$color-text-700;
		font-size: v.$ui-font-size-s;
	}

	&__date {
		font-size: 3.6rem;
		text-align: center;
		line-height: 100%;
	}

	&__month {
		margin-top: 0.4rem;
		text-align: center;
		line-height: 100%;
	}

	&__time {
		color: v.$color-text-400;
		font-size: v.$ui-font-size-s;
		text-align: center;
		margin-top: 0.8rem;
	}

	&__mobile-reward-block {
		border-top: 1px solid v.$color-bg-050;
		margin-top: 0.4rem;
		padding-top: 0.8rem;
		color: v.$color-text-400;
		word-break: break-word;
		text-wrap: balance;
		text-align: center;
		hyphens: auto;
		line-height: 130%;
		flex-direction: column;
		gap: 0.4rem;
		font-size: v.$ui-font-size-xs;
		display: none;

		@include mixins.tablet {
			display: flex;
		}
	}

	&__reward-skipped {
		display: inline;
		color: v.$color-bg-900;
		background-color: v.$color-bg-900;
		position: relative;

		--left: 0rem;
		--right: 0rem;

		&::before,
		&::after {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			background-color: v.$color-bg-900;
		}

		&::before {
			right: 100%;
			width: var(--left);
		}

		&::after {
			left: 100%;
			width: var(--right);
		}
	}

	// Checkbox for a passed checkmark
	&__card {
		@include mixins.hover-touch {
			.event__pass-or-fail-wrapper {
				opacity: 1;
			}
		}
	}

	&__pass-or-fail-wrapper {
		position: absolute;
		top: 0.6rem;
		right: 0.6rem;
		width: fit-content;
		max-width: 85%;
		z-index: 1;
		opacity: 0;

		display: flex;
		flex-direction: row;
		gap: 0.4rem;

		@include mixins.tablet {
			opacity: 0.35;
		}
	}

	&__checkbox:focus-visible {
		opacity: 1;
	}

	&__checkbox {
		display: flex;
		width: fit-content;
		transition: 0.12s opacity allow-discrete ease-in-out;

		&.passed {
			color: v.$color-success-200;

			@include mixins.hovered(v.$color-success-200, v.$color-bg-a-800);
		}

		&.skipped {
			color: v.$color-danger-200;

			@include mixins.hovered(v.$color-danger-200, v.$color-bg-a-800);
		}

		& input {
			display: none;
		}
	}

	// Fail or Pass stamp
	&__stamp-wrapper {
		position: absolute;

		transform: translateX(-50%);
		padding: 0.6rem 0.8rem;
		background-color: #eeddba;
		outline: 3px dotted #eeddba;
		outline-offset: -2px;
		border-radius: 3px;

		transition: transform 0.15s cubic-bezier(0.95, 1.16, 0.87, 0.63),
			opacity 0.6s ease-in-out;
	}

	&__stamp {
		position: relative;
		width: fit-content;
		padding: 0.8rem 1.2rem;
		font-family: monospace;
		font-size: v.$ui-font-size-h2;
		z-index: 1;

		&--fail {
			color: v.$color-danger-200;
			border-color: v.$color-danger-200;
		}

		&--pass {
			color: v.$color-success-200;
			border-color: v.$color-success-200;
		}
	}

	&__border {
		position: absolute;
		border-style: solid;
		z-index: 1;

		&--outer {
			inset: -3px;
			border-width: 3px;
		}

		&--inner {
			inset: 2px;
			border-width: 1px;
		}
	}

	// Right column
	&__right-col {
		margin-top: 6rem;
		flex: 0.5 0.5 45rem;

		@include mixins.tablet {
			margin-top: 0;
			flex: 1 1 auto;
		}
	}

	&__timer-block {
		display: flex;
		gap: 1.2rem;
		justify-content: center;
	}

	&__countdown-card {
		width: 7rem;
		padding: 1.2rem 0.8rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 0.4rem;
		background-color: v.$color-bg-500;
		border-radius: 0.8rem;
		@include mixins.ui-shadow;
	}

	&__countdown-time {
		line-height: 100%;
		font-size: v.$ui-font-size-h3;
	}

	&__countdown-desc {
		line-height: 100%;
		color: v.$color-text-400;
		font-size: v.$ui-font-size-xs;
	}

	&__reward-block {
		margin-top: 4rem;
		display: flex;
		gap: 1.2rem;
	}

	&__chip {
		border-radius: 0.8rem;
		padding: 1.2rem;
		background-color: v.$color-bg-700;
		border: none;
		@include mixins.ui-shadow;
		@include mixins.ui-background-blur;
		flex: 0 0 auto;

		& svg {
			display: block;
		}

		@include mixins.hovered(v.$color-text-100, v.$color-bg-700);

		&:focus-visible {
			@include mixins.focused(v.$color-text-100, v.$color-bg-700);
		}

		&--active {
			background-color: v.$color-primary-600;

			@include mixins.hovered(v.$color-text-100, v.$color-primary-600);

			&:focus-visible {
				@include mixins.focused(v.$color-text-100, v.$color-primary-600);
			}
		}
	}

	&__progress-bar-block {
		position: relative;
		flex: 1 1 auto;
	}

	&__progress-bar {
		background-color: v.$color-bg-700;
		height: 4rem;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		overflow: hidden;
		border-radius: 0.8rem;
	}

	&__progress-bar-progress {
		position: absolute;
		inset: 0 0 0 0;
		z-index: 2;

		background: linear-gradient(
			to right,
			v.$color-primary-600 0,
			transparent 0
		);
	}

	&__progress-bar-animated {
		position: absolute;
		inset: 0 0 0 -28px;
		z-index: 1;
		background: repeating-linear-gradient(
			-45deg,
			rgba(v.$color-text-700, 0.05),
			rgba(v.$color-text-700, 0.05) 10px,
			transparent 10px,
			transparent 20px
		);
		animation: progressBarAnimation 4s linear infinite;
	}

	&__progress-bar-stage {
		position: absolute;
		color: v.$color-text-700;
		font-size: v.$ui-font-size-xs;
		top: calc(100% + 0.4rem);

		&--current {
			left: 1.2rem;
		}

		&--next {
			right: 1.2rem;
		}

		&::after {
			position: absolute;
			left: 50%;
			bottom: calc(100% - 0.2rem);
			content: '';
			height: 2rem;
			width: 1px;
			background-color: v.$color-bg-050;
			z-index: -1;
		}
	}

	// description block
	&__reward-description-block {
		margin-top: 3.2rem;
		padding: 0 5.2rem;
	}

	&__reward-wrapper {
		position: relative;
		padding: 0.8rem;
	}

	&__reward-item {
		&--right {
			text-align: right;
		}
	}

	&__reward-boundary {
		position: absolute;
		top: 0;
		bottom: 0;
		width: 5px;
		border-top: 1px solid v.$color-bg-050;
		border-bottom: 1px solid v.$color-bg-050;

		&::before {
			position: absolute;
			border-color: v.$color-bg-050;
			border-style: solid;
			box-sizing: content-box;
			content: '';
			display: block;
			width: 2.6rem;
			height: calc(50% + 3.2rem);
			transform: translateY(-3.2rem);
			z-index: -1;
		}

		&--left {
			left: -5px;
			border-left: 1px solid v.$color-bg-050;
			transform-origin: left;

			&::before {
				border-width: 0 0 1px 1px;
				left: -2.7rem;
			}
		}

		&--right {
			right: -5px;
			border-right: 1px solid v.$color-bg-050;
			transform-origin: right;

			&::before {
				border-width: 0 1px 1px 0;
				right: -2.7rem;
			}
		}
	}
}

@keyframes progressBarAnimation {
	0% {
		inset: 0 0 0 -28px;
	}

	100% {
		inset: 0 -28px 0 0;
	}
}

@keyframes skip-card {
	from {
		opacity: 1;
		transform: rotateZ(0) scale(1);
	}
	to {
		opacity: 0.6;
		transform: rotateZ(-8deg) scale(0.9);
	}
}

// Inline Rewards Mode
.inline-rewards.event__card {
	.event {
		&__mobile-reward-block {
			display: flex;
		}
	}
}
