@use "../abstracts/variables";

.legal {
	display: flex;
	flex-direction: column;
	gap: 4rem;

	& section {
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}

	& ul {
		padding-left: 4rem;
		display: flex;
		flex-direction: column;
		gap: 0.8rem;
	}

	& table {
		background-color: variables.$color-bg-a-600;

		td {
			padding: 0.8rem 1.2rem;
		}

		tr td:nth-child(1) {
			border-right: solid 1px variables.$color-bg-050;
			border-left: solid 1px variables.$color-bg-050;
		}

		tr td:nth-child(2) {
			border-right: solid 1px variables.$color-bg-050;
		}

		tr:nth-child(1) td {
			border-top: 1px solid variables.$color-bg-050;
		}

		td {
			border-bottom: 1px solid variables.$color-bg-050;
		}
	}
}
