.sbuild {
	&__grid {
		margin-top: 6rem;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 2rem;
	}

	&__item {
		border-radius: 0.8rem;
		background-color: $color-bg-a-500;
		@include ui-background-blur;
		display: flex;
		gap: 1.2rem;

		&--clickable {
			cursor: pointer;
			position: relative;

			@include pressed($color-text-100, $color-bg-a-500, 4);
			&:hover {
				@include hovered($color-text-100, $color-bg-a-500);
			}
		}
	}

	&__main-content {
		flex: 1 1 auto;
		padding: 1.2rem;
	}

	&__link {
		position: absolute;
		z-index: 3;
		inset: 0 0 0 0;
	}

	// Left col
	&__name {
		font-size: 2rem;
	}

	&__data-block {
		margin-top: 0.8rem;
		display: flex;
		flex-direction: column;
		gap: 0.4rem;
	}

	&__data-class {
		display: flex;
		align-items: center;
		gap: 0.4rem;
		color: $color-text-400;
		// font-size: $ui-font-size-s;
	}

	&__data-icon {
		height: 16px;
		aspect-ratio: 1/1;
		opacity: 0.6;
	}

	&__data-stats {
		display: flex;
		gap: 0.4rem;
		align-items: center;
		color: $color-text-400;
		font-size: $ui-font-size-s;
	}

	&__data-stat {
		display: flex;
		gap: 0.4rem;
		align-items: center;
	}

	&__data-separator {
		color: $color-text-700;
	}

	// Author block
	&__author-block {
		margin-top: 1.6rem;
		display: flex;
		align-items: center;
		gap: 0.8rem;
	}

	&__author-avatar {
		width: 4.8rem;
		height: 4.8rem;
		object-fit: cover;
		border-radius: 100%;
	}

	&__author-block-right {
		display: flex;
		flex-direction: column;
		gap: 0.4rem;
		line-height: 120%;
	}

	// &__author-name {
	// 	color: $color-text-400;
	// }

	&__author-date {
		color: $color-text-700;
		font-size: $ui-font-size-s;
	}

	// single build page
	&__single-build {
		cursor: auto;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		max-width: 60rem;
		margin-bottom: 3.2rem;

		& .sbuild__likes-block {
			cursor: pointer;
		}
	}

	&__load-more {
		margin-top: 2rem;
		display: flex;
		justify-content: center;
	}

	&__no-more-text-block {
		margin-top: 2rem;
		display: flex;
		justify-content: center;
	}

	&__no-more-text {
		display: block;
		padding: 1.2rem 0;
	}

	// delete btn
	&__delete-btn {
		color: $color-loading;
		padding: 0.6rem;
		border-radius: 0.6rem;
		align-self: center;
		transition: 0.2s ease-in-out color;

		&:hover {
			color: $color-white;
		}
	}

	&__delete-popup {
		@include popup;
		padding: 2rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 2rem;

		&-btns {
			display: flex;
			gap: 1rem;
		}

		&-title {
			font-weight: normal;
		}

		&-name {
			font-weight: 700;
		}

		&-btn {
			&--inner {
				padding: 1.2rem 2.4rem;
				border-radius: 1rem;
			}

			&--yes {
				background-color: $color-error;
			}

			&--no {
				background-color: $color-black-light-2;
			}
		}
	}

	// Right col of icons
	&__info-col {
		flex: 0 0 auto;
		padding: 0.4rem;
		color: $color-text-400;
		font-size: $ui-font-size-s;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&__card {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 0.4rem;
		padding: 0.8rem;
		border-radius: 0.4rem;

		@include pressed($color-text-100, $color-bg-a-200, 4);
		&:hover {
			@include hovered($color-text-100, $color-bg-a-200);
		}
	}

	&__likes-block--no-anim {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 0.8rem;
		gap: 0.4rem;
	}

	&__likes-block {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 0.8rem;
		gap: 0.4rem;

		&:hover {
			.sbuild {
				&__likes-svg path {
					stroke: $color-danger-200;
					fill: $color-danger-200;
				}
			}
		}
	}

	&__likes-svg {
		width: 1.6rem;
		path {
			transition: stroke 0.2s ease-in-out, fill 0.2s ease-in-out;
		}
	}

	// active state (if liked)
	&__likes-block.active {
		&:hover {
			.sbuild {
				&__likes-svg path {
					fill: transparent;
				}
			}
		}

		.sbuild {
			&__likes-amount {
				color: $color-danger-200;
			}

			&__likes-svg {
				path {
					stroke: $color-danger-200;
					fill: $color-danger-200;
				}
			}
		}
	}
	// end

	// Likes animation
	&__icon {
		&-container {
			position: relative;
		}

		&-sub {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			opacity: 1;
			transition: top 0.6s ease-out, left 0.6s ease-out, opacity 0.6s ease-out;

			& path {
				stroke: $color-danger-200 !important;
				fill: $color-danger-200 !important;
			}
		}

		&-main {
			position: relative;
			z-index: 2;
		}
	}
	// end of likes animation
}
