@use "../abstracts/mixins";
@use "../abstracts/variables";

.sbuild {
	&__grid {
		margin-top: 6rem;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 2rem;

		@include mixins.desktop-small {
			grid-template-columns: repeat(2, 1fr);
		}

		@media (max-width: 700px) {
			grid-template-columns: repeat(1, 1fr);
		}
	}

	&__item {
		border-radius: 0.8rem;
		background-color: variables.$color-bg-a-500;
		@include mixins.ui-background-blur;
		display: flex;
		gap: 1.2rem;

		&--clickable {
			cursor: pointer;
			position: relative;

			@include mixins.hovered(variables.$color-text-100, variables.$color-bg-a-500);
		}
	}

	// single build page
	&__single-build {
		cursor: auto;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		max-width: 60rem;
		margin-bottom: 3.2rem;

		& .sbuild__likes-block {
			cursor: pointer;
		}
	}

	&__load-more {
		margin-top: 2rem;
		display: flex;
		justify-content: center;
	}

	&__no-more-text-block {
		margin-top: 2rem;
		display: flex;
		justify-content: center;
	}

	&__no-more-text {
		display: block;
		padding: 1.2rem 0;
	}

	// Right col of icons
	&__info-col {
		flex: 0 0 auto;
		padding: 0.4rem;
		color: variables.$color-text-400;
		font-size: variables.$ui-font-size-s;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&__card {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 0.4rem;
		padding: 0.8rem;
		border-radius: 0.4rem;

		@include mixins.hovered(variables.$color-text-100, variables.$color-bg-a-200);
	}

	&__likes-block--no-anim {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 0.8rem 0.8rem 0.2rem;
		gap: 0.4rem;
	}

	&__likes-block {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 0.8rem 0.8rem 0.2rem;
		gap: 0.4rem;

		&:hover {
			.sbuild {
				&__likes-svg path {
					stroke: variables.$color-danger-200;
					fill: variables.$color-danger-200;
				}
			}
		}
	}

	&__likes-svg {
		width: 1.6rem;
		path {
			transition: stroke 0.2s ease-in-out, fill 0.2s ease-in-out;
		}
	}

	// active state (if liked)
	&__likes-block.active {
		&:hover {
			.sbuild {
				&__likes-svg path {
					fill: transparent;
				}
			}
		}

		.sbuild {
			&__likes-amount {
				color: variables.$color-danger-200;
			}

			&__likes-svg {
				path {
					stroke: variables.$color-danger-200;
					fill: variables.$color-danger-200;
				}
			}
		}
	}
	// end

	// Likes animation
	&__icon {
		&-container {
			position: relative;
		}

		&-sub {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			opacity: 1;
			transition: top 0.6s ease-out, left 0.6s ease-out, opacity 0.6s ease-out;

			& path {
				stroke: variables.$color-danger-200 !important;
				fill: variables.$color-danger-200 !important;
			}
		}

		&-main {
			position: relative;
			z-index: 2;
		}
	}
	// end of likes animation
}
