@use "../abstracts/mixins";

.wip {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;

	&__img {
		width: 100%;
		border-radius: 1.2rem;

		@include mixins.tablet {
			width: 90%;
		}
	}

	&__text-block {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1rem;
		padding: 0 1rem;
		text-align: center;
	}

	&__title {
		@include mixins.tablet {
			font-size: 2.4rem;
		}
	}
}
