@use "../../../sass/abstracts/variables";

.stats {
	&__wrapper {
		display: flex;
		gap: 0.8rem;
		align-items: center;

		&.build {
			gap: 0.4rem;
			font-size: variables.$ui-font-size-s;
			color: variables.$color-text-400;
		}
	}

	&__item {
		display: flex;
		gap: 0.4rem;
		align-items: center;
	}

	&__separator {
		color: variables.$color-text-700;
	}
}
