@use '../../../sass/abstracts/variables' as v;

.stats {
	&__wrapper {
		display: flex;
		gap: 0.8rem;
		align-items: center;

		&.build {
			gap: 0.4rem;
			font-size: v.$ui-font-size-s;
			color: v.$color-text-400;
		}
	}

	&__item {
		display: flex;
		gap: 0.4rem;
		align-items: center;
	}

	&__separator {
		color: v.$color-text-700;
	}
}
