.visible-screen {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 40;
}

#visible-screen-40 {
	z-index: 40;
}

.screen-bottom {
	position: sticky;
	transform: translateY(100dvh);
	top: 0;
	left: 0;
	right: 0;
	z-index: 50;
}
