@use '../../sass/abstracts/mixins';
@use '../../sass/abstracts/variables' as v;

.modal {
	// Base modal template styles
	z-index: 40;
	align-self: center;
	max-height: 80dvh;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: clamp(20rem, calc(100% - 4rem), 34rem);
	margin: 0 auto;
	padding: 3.2rem 2rem 2rem;
	background-color: v.$color-bg-a-700;
	@include mixins.ui-background-blur;
	border-radius: 1.2rem;
	text-align: center;

	&__page-mask {
		@include mixins.modal-page-mask;
	}

	&__btn {
		position: absolute;
		right: 0;
		top: 0;
		padding: 1.2rem;
	}

	// ==============
	// Universal styles

	&__title {
		margin: 0 auto;
		text-wrap: balance;
	}

	// "Register" modal

	&__google-btn {
		display: flex;
		align-items: center;
		justify-content: space-between;
		background-color: v.$color-text-100;
		margin: 6rem auto 0;
		padding: 1.2rem 1.2rem;
		border-radius: 0.8rem;
		gap: 1.2rem;

		@include mixins.hovered(v.$color-bg-100, v.$color-text-100);

		&:focus {
			@include mixins.focused(v.$color-bg-100, v.$color-text-100);
		}
	}

	&__google-icon {
		flex: 0 0 auto;
		width: fit-content;
	}

	&__google-text {
		color: v.$color-bg-100;
	}

	&__legal {
		margin-top: 6rem;
		font-size: v.$ui-font-size-s;
		color: v.$color-text-400;
	}

	&__link {
		@include mixins.link;
	}

	// "Contacts" modal
	&__body {
		display: flex;
		width: 100%;
		flex-direction: column;
		gap: 2rem;
		text-align: left;
		color: v.$color-text-400;
		margin-top: 2.4rem;
		font-size: v.$ui-font-size-s;
	}

	&__accent {
		color: v.$color-primary-200;
		font-weight: 700;
	}

	&__contacts {
		display: flex;
		flex-direction: column;
		gap: 0.8rem;
	}

	&__contact {
		display: flex;
		align-items: center;
		gap: 0.8rem;
		font-size: v.$ui-font-size-base;
		color: v.$color-text-100;
	}

	&__contact.modal__link {
		text-decoration: underline;
	}

	&__footer {
		margin-top: 4rem;
		display: flex;
		gap: 1.6rem;
		width: 100%;

		& .btn {
			flex: 1 1 auto;
		}
	}

	// Save Modal
	&__desc {
		font-size: v.$ui-font-size-s;
	}

	&__input-checkbox {
		display: flex;
		align-items: center;
		color: v.$color-text-100;
		gap: 0.8rem;
	}

	&__confirm {
		margin-top: 2rem;
		width: 100%;
	}
}
