.admin {
	&__tabs {
		margin-top: 2rem;
		display: flex;
	}

	&__tab {
		padding: 0.8rem 1.2rem;
		color: $color-text-700;
		border-bottom: 2px solid $color-text-700;
		transition: color 0.2s ease-in-out, border-bottom 0.2s ease-in-out;

		&.active {
			color: $color-text-100;
			border-bottom: 2px solid $color-text-100;
		}

		&:focus {
			outline: none;
		}
	}

	&__category {
		margin-top: 3.2rem;
	}

	&__chips-flex {
		display: flex;
		gap: 1.2rem;
		margin-top: 1.2rem;
	}

	&__inputs-block {
		margin-top: 4rem;
	}
}
