.aside {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	width: 7.2rem;
	padding: 2.4rem 0 1.2rem;
	background-color: $color-bg-a-700;
	@include ui-background-blur;
	display: flex;
	flex-direction: column;

	&__profile {
		display: flex;
		gap: 0.8rem;
		align-items: center;
	}

	&__avatar {
		display: block;
		width: 5rem;
		aspect-ratio: 1/1;
		object-fit: cover;
		border-radius: 100%;
		margin: 0 auto;
	}

	&__nickname {
		display: none;
	}

	&__line {
		height: 1px;
		background-color: $color-text-900;
		margin: 0 auto;
		width: 100%;

		&--top {
			width: calc(100% - 4rem);
			margin: 2rem auto 1.6rem;
		}
	}

	&__main-content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		flex: 1;
		padding: 0 2rem;
	}

	&__navigation {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		gap: 0.8rem;
	}

	&__links {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		gap: 0.8rem;
	}

	&__link {
		width: 100%;
		line-height: 100%;
		display: block;
		padding: 0.8rem;
		border-radius: 0.4rem;
		display: flex;
		gap: 0.8rem;

		&.router-link-active {
			background-color: $color-bg-300;
		}
	}

	&__link-desc {
		display: none;
	}

	&__footer {
		font-size: $ui-font-size-xs;
		color: $color-text-700;
		line-height: 150%;
	}

	&__footer-legal {
		display: none;
		flex-direction: column;
		gap: 0.6rem;
	}

	&__footer-links {
		margin-top: 1.2rem;
		display: none;

		& a {
			text-decoration: underline;
		}
	}

	// Aside hover state
	&:hover {
		width: 24rem;

		.aside {
			&__profile {
				padding: 0 2rem;
			}

			&__nickname {
				display: block;
			}

			&__link-desc {
				display: inline-block;
			}

			&__footer-legal {
				display: flex;
			}

			&__footer-links {
				display: block;
			}
		}
	}
}
