.btn {
	&:disabled {
		cursor: not-allowed;
	}
	line-height: 100%;
	@include ui-background-blur;

	&-m {
		padding: 1.6rem 2.4rem;
		font-size: 1.6rem;
		border-radius: 1.2rem;
	}

	&-sm {
		padding: 0.8rem 1.2rem;
		font-size: 1.4rem;
		border-radius: 0.8rem;
	}

	&-primary {
		background-color: $color-primary-a-500;

		&:hover {
			@include hovered($color-text-100, $color-primary-a-500);
		}

		&:focus {
			@include focused($color-text-100, $color-primary-a-500);
		}
	}

	&-secondary {
		background-color: $color-bg-a-800;
		outline: 1px solid $color-bg-050;

		&:hover {
			@include hovered($color-text-100, $color-bg-a-800);
		}

		&:focus {
			@include focused($color-text-100, $color-bg-a-800);
		}
	}

	&-tertiary {
		&:hover {
			@include hovered($color-text-100, $color-bg-a-300);
		}

		&:focus {
			@include focused($color-text-100, $color-bg-a-300);
		}
	}
}
