.btn {
	&-flexbox {
		display: flex;
		justify-content: center;
		gap: 1rem;
	}

	&-main {
		font-size: 2.6rem;
		padding: 1.8rem 2.4rem;
		background-color: $color-black-light-1;
		border: 1px solid $color-skill-inactive;
		border-radius: 1rem;

		&:hover {
			background-color: $color-black-light-2;
		}
	}

	&-small {
		font-size: 2.2rem;
		padding: 1.2rem 1.8rem;
		background-color: $color-black-light-1;
		border: 1px solid $color-skill-inactive;
		border-radius: 1rem;

		&:hover {
			background-color: $color-black-light-2;
		}
	}

	&-wide {
		width: 80%;
	}
}
