@use "../abstracts/mixins";
@use "../abstracts/variables";

.btn {
	&:disabled {
		cursor: not-allowed;
	}
	line-height: 100%;

	&-m {
		padding: 1.6rem 2.4rem;
		font-size: 1.6rem;
		border-radius: 1.2rem;
	}

	&-sm {
		padding: 0.8rem 1.2rem;
		font-size: 1.4rem;
		border-radius: 0.8rem;
	}

	&-xs {
		padding: 0.4rem 0.8rem;
		font-size: 1.4rem;
		border-radius: 0.6rem;
	}

	&-primary {
		background-color: variables.$color-primary-a-500;
		@include mixins.ui-background-blur;

		@include mixins.hovered(variables.$color-text-100, variables.$color-primary-a-500);

		&:focus-visible {
			@include mixins.focused(variables.$color-text-100, variables.$color-primary-a-500);
		}

		&:disabled {
			@include mixins.disabled-filled(variables.$color-primary-a-500);
		}
	}

	&-secondary {
		background-color: variables.$color-bg-a-800;
		outline: 1px solid variables.$color-bg-050;
		@include mixins.ui-background-blur;

		@include mixins.hovered(variables.$color-text-100, variables.$color-bg-a-800);

		&:focus-visible {
			@include mixins.focused(variables.$color-text-100, variables.$color-bg-a-800);
		}

		&:disabled {
			@include mixins.disabled-outlined(variables.$color-text-100, variables.$color-bg-050);
		}
	}

	&-tertiary {
		@include mixins.hovered(variables.$color-text-100, variables.$color-bg-a-300);

		&:focus-visible {
			@include mixins.focused(variables.$color-text-100, variables.$color-bg-a-300);
		}

		&:disabled {
			@include mixins.disabled-outlined(variables.$color-text-100, variables.$color-bg-050);
		}
	}
}
