.build {
	&__item {
		position: relative;
		display: grid;
		grid-template-columns: 1fr auto;
		grid-template-rows: auto auto;
		gap: 0.8rem;
		border-radius: 1.2rem;

		padding: 0.6rem;
		background-color: $color-bg-a-700;
		@include ui-background-blur;

		&--clickable {
			cursor: pointer;
			position: relative;

			@include hovered($color-text-100, $color-bg-a-500);
		}
	}

	&__link {
		position: absolute;
		inset: 0;
		z-index: 1;
	}

	&__main {
		grid-column: 1;
		grid-row: 1;

		display: flex;
		flex-direction: column;
		gap: 0.8rem;
		padding: 0.2rem 0.6rem;
	}

	&__title {
		font-weight: 400;
		margin: 0;
		color: $color-text-100;
	}

	&__desc-wrapper {
		display: flex;
		flex-direction: column;
		gap: 0.4rem;
	}

	&__class {
		display: flex;
		gap: 0.4rem;
		align-items: center;
		color: $color-text-400;
	}

	&__class-icon {
		height: 16px;
		aspect-ratio: 1 / 1;
		opacity: 0.6;
	}

	// Buttons
	&__buttons-wrapper {
		grid-column: 2;
		grid-row: 1;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 0.8rem;

		&.fullheight {
			grid-row: 1/3;
		}
	}

	&__buttons-group {
		display: flex;
		flex-direction: column;
		background-color: $color-bg-a-500;
		border: 1px solid $color-panel-border;
		border-radius: 0.8rem;
		z-index: 2;
	}

	&__button {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 0.4rem;
		padding: 0.8rem;
		border-radius: 0.6rem;
		cursor: pointer;

		@include hovered($color-text-100, $color-bg-a-200);
	}

	&__likes-block--no-anim {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 0.8rem 0.8rem 0.2rem;
		gap: 0.4rem;
	}

	&__likes-block {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 0.8rem 0.8rem 0.2rem;
		gap: 0.4rem;

		&:hover {
			.build {
				&__likes-svg path {
					stroke: $color-danger-200;
					fill: $color-danger-200;
				}
			}
		}

		&.clickable:hover {
			cursor: pointer;
			border-radius: 0.4rem;
			@include hovered($color-text-100, $color-bg-a-200);
		}
	}

	&__likes-svg {
		width: 1.6rem;
		path {
			transition: stroke 0.2s ease-in-out, fill 0.2s ease-in-out;
		}
	}

	// active state (if liked)
	&__likes-block.active {
		&:hover {
			.build {
				&__likes-svg path {
					fill: transparent;
				}
			}
		}

		.build {
			&__likes-amount {
				color: $color-danger-200;
			}

			&__likes-svg {
				path {
					stroke: $color-danger-200;
					fill: $color-danger-200;
				}
			}
		}
	}
	// end

	// Likes animation
	&__icon {
		&-container {
			position: relative;
		}

		&-sub {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			opacity: 1;
			transition: top 0.6s ease-out, left 0.6s ease-out, opacity 0.6s ease-out;

			& path {
				stroke: $color-danger-200 !important;
				fill: $color-danger-200 !important;
			}
		}

		&-main {
			position: relative;
			z-index: 2;
		}
	}
	// end of likes animation

	// Avatar
	&__footer {
		grid-column: 1;
		grid-row: 2;
		background-color: rgba(92, 132, 145, 0.15);
		border: 1px solid rgba(92, 132, 145, 0.18);
		border-radius: 0.8rem;
		padding: 0.6rem;

		&.fullwidth {
			grid-column: 1 / 3;
		}
	}

	&__footer-wrapper {
		display: flex;
		align-items: center;
		gap: 0.8rem;
	}

	&__avatar {
		width: 4.8rem;
		height: 4.8rem;
		object-fit: cover;
		border-radius: 0.6rem;
	}

	&__footer-desc {
		display: flex;
		flex-direction: column;
		gap: 0.4rem;
	}

	&__author-name {
		font-size: $ui-font-size-m;
	}

	&__footer-dates-wrapper {
		display: flex;
		gap: 2rem;
		color: $color-text-700;
		font-size: $ui-font-size-s;
	}

	&__footer-date-item {
		display: flex;
		align-items: baseline;

		gap: 0.4rem;
	}
}
