.calculator {
	margin-top: 2rem;

	@media (max-width: 1600px) {
		padding-left: 2rem;
	}

	@media (max-width: 1400px) {
		padding: 0 0 2rem 2rem;
		min-width: 32rem;
		overflow-x: auto;
		scroll-snap-type: x mandatory;

		&__grid {
			width: 115rem;
			scroll-snap-type: x mandatory;

			&__save-btn {
				width: 120rem;
			}
		}
	}

	&__grid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 2.8rem;
	}

	&__branch {
		background-color: $color-bg-a-600;
		display: flex;
		flex-direction: column;
		position: relative;
		border-radius: 1.2rem;
		scroll-snap-align: start;
		@include ui-background-blur;
	}

	&__title-block {
		padding: 2.4rem 1.2rem 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: relative;
	}

	&__icon {
		width: 4.8rem;
		aspect-ratio: 1/1;
	}

	&__remaining-stats {
		margin-top: 1.6rem;
	}

	&__branch-perk-description-wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 4.6rem;
		margin-top: 2rem;
		padding: 0 2rem;
	}

	&__branch-perk-description {
		text-align: center;
		text-wrap: balance;
		color: $color-text-400;
		font-size: $ui-font-size-s;
	}

	// hotkeys tooltip
	&__hotkeys-block {
		position: absolute;
		left: 0.8rem;
		top: 0.8rem;
		padding: 0.4rem;
		z-index: 10;
	}

	&__separator {
		width: calc(100% - 5.6rem);
		height: 1px;
		margin: 2rem 2.8rem;
		background-color: $color-bg-a-050;
	}

	// Branch-Tier

	&__stats-block {
		display: flex;
		gap: 5%;
		row-gap: 2rem;
		padding: 0 2rem;
		flex-wrap: wrap;
		justify-content: center;

		&:last-child {
			padding-bottom: 2rem;
		}

		@include tablet {
			padding: 0 1rem;
		}

		&:not(:last-child) {
			min-height: calc(13.73rem * 2 + 4rem);

			@media (max-width: 1600px) {
				min-height: calc(12.1rem * 2 + 4rem);
			}

			@include tablet {
				min-height: calc(13.8rem * 2 + 2rem);
			}
		}
	}

	// ============
	// Single skill
	&__skill {
		width: 25%;
		position: relative;
		height: fit-content;

		@include tablet {
			width: 30%;
		}
	}

	&__img {
		display: block;
		cursor: pointer;
		margin: 0 auto;
		width: 75%;
		aspect-ratio: 1/1;

		filter: grayscale(1);

		&.mobility {
			filter: none;
		}

		&.vitality {
			filter: none;
		}

		&.weapon {
			filter: none;
		}

		&.soldier-perk {
			filter: none;
		}
	}

	&__tooltip {
		text-align: center;
		font-size: $ui-font-size-s;
	}

	&__tooltip-desc {
		display: block;
	}

	// &__tooltip-desc-block {	}

	&__counter-block {
		display: flex;
		align-items: center;
	}

	&__button {
		background-color: $color-bg-800;
		border-radius: 0.4rem;
		padding: 0.4rem 0.4rem;
		flex: 0 0 auto;

		@include pressed($color-text-100, $color-bg-800, 2.5);

		@include hovered($color-text-100, $color-bg-800);

		&:focus {
			@include focused($color-text-100, $color-bg-800);
		}
	}

	&__bars-wrapper {
		content: '';
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex: 1 1 auto;
		gap: 2px;
		padding: 0.4rem 0.2rem;
		line-height: 100%;
	}

	&__bar {
		background-color: $color-skill-inactive;
		flex: 1 1 auto;
		border-radius: 0.4rem;
	}

	.base-perk {
		color: $color-primary-100;
	}

	&__bar-highlight {
		background-color: $color-primary-100;

		&.mobility {
			background-color: $color-mobility;
		}

		&.vitality {
			background-color: $color-vitality;
		}

		&.weapon {
			background-color: $color-weapon;
		}
	}

	&__cost-block {
		font-size: $ui-font-size-xs;
		padding: 0.4rem;
		display: flex;
		gap: 2px;
		justify-content: center;
		align-items: center;
		color: $color-text-400;
	}

	// Restriction

	&__restriction-block {
		position: relative;
		flex-grow: 1;
	}

	&__restriction-text-block {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 1.6rem;
		padding-top: 2rem;

		transform: rotateX(00deg);
		transform-origin: top;
		max-height: 20rem;
		transition: 0.5s ease-in-out all;

		&.inactive {
			transform: rotateX(90deg);
			max-height: 0;
		}

		& p {
			text-align: center;
		}
	}

	&__restriction-text {
		padding: 0 2rem;
	}

	&__highlight {
		color: $color-primary-200;
	}

	&__restriction-bg {
		margin-top: -2rem;
		background: repeating-linear-gradient(
			-45deg,
			rgba($color-text-700, 0.05),
			rgba($color-text-700, 0.05) 15px,
			transparent 15px,
			transparent 40px
		);

		&.is-transparent {
			background: none;
		}
	}

	// text if not auth
	&__tell-to-login {
		text-align: center;
		margin: 3.2rem auto 0;
		padding: 0 1.2rem;
		width: 100%;
		max-width: 60rem;
		color: $color-text-400;
	}

	// save btn and modal
	&__save-btn {
		display: block;
		width: 100%;
		margin: 4rem 0 0;

		& button {
			display: block;
			margin: 0 auto;
		}
	}

	&__tell-to-login ~ .calculator__save-btn {
		margin: 2.4rem auto 0;
	}

	&__btn-screen-wrapper {
		position: absolute;
		right: 4rem;
		bottom: 2.4rem;
		display: none;

		@media (min-width: 1123px) {
			display: block;
		}
	}

	&__btn-screen {
		padding: 2.4rem;
	}
}

// Compact mode
.compact.calculator {
	.calculator {
		&__title-block {
			display: grid;
			grid-template-columns: 0.45fr 1fr;
			grid-template-rows: repeat(2, 1fr);
			padding: 2.4rem 4rem 0;
		}

		&__icon {
			margin: 0 auto;
		}

		&__remaining-stats {
			margin: 0 auto;
			grid-row: 2/3;
			grid-column: 1/2;
		}

		&__branch-perk-description-wrapper {
			grid-column: 2;
			grid-row: 1/3;
			margin: 0 auto;
		}

		&__branch-perk-description {
			@include desktop-medium {
				font-size: $ui-font-size-xs;
			}
		}
		// End of header

		&__separator {
			margin: 1.6rem 2.8rem;
		}

		&__stats-block {
			gap: 8%;
			row-gap: 1.2rem;

			&:not(:last-child) {
				min-height: calc(11.71rem * 2 + 2rem);

				@media (max-width: 1600px) {
					min-height: calc(10.43rem * 2 + 2rem);
				}
			}
		}

		&__skill {
			width: 20.5%;
		}

		&__restriction-text-block {
			gap: 0;
		}

		&__restriction-upper-block {
			padding: 0 4rem;
			width: 100%;
			display: flex;
			gap: 0.8rem;
			align-items: center;
			justify-content: center;

			& svg {
				transform: translateY(-2px);
			}
		}

		&__restriction-text {
			padding: 0;
		}

		&__restriction-bg {
			margin-top: -1.6rem;
		}
	}
}
