.calculator {
	&__stats-flex {
		display: flex;
	}

	&__grid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 3rem;
		padding: 0 2rem;
	}

	&__branch {
		background-color: $color-blue;
		display: flex;
		flex-direction: column;
	}

	&__title-block {
		padding: 2rem 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__stats-block {
		display: flex;
		padding: 1.5rem 3rem;
		gap: 4.5rem;
		row-gap: 2rem;
		flex-wrap: wrap;
		justify-content: center;

		&:last-child {
			padding: 3rem;
		}

		&:not(:last-child) {
			min-height: 27.1rem;
			border-bottom: 1px solid rgba($color-white, 0.4);
		}
	}

	&__skill {
		width: calc(33.3% - 4.5rem);
		position: relative;
	}

	&__img {
		display: block;
		cursor: pointer;
		max-width: 100%;
		aspect-ratio: 1/1;
	}

	&__tooltip {
		background-color: $color-black;
		padding: 0.6rem 1.2rem;
		text-align: center;
		font-size: 0.8em;
		width: 250%;
		display: none;
		position: absolute;
		z-index: 10;
		top: 0;
		left: 50%;
		transform: translate(-50%, -100%);

		&::after {
			content: '';
			position: absolute;
			bottom: 0px;
			left: 50%;
			width: 10px;
			height: 10px;
			transform: translate(-50%, 50%) rotateZ(45deg);
			z-index: 5;
			background: linear-gradient(-45deg, $color-black 60%, transparent 60%);
		}
	}

	// display tooltip on hover
	&__skill:hover &__tooltip {
		display: block;
	}

	&__highlight {
		color: #f9da75;
	}

	&__counter-block {
		margin-top: 5px;
		// display: flex;
		display: grid;
		grid-template-columns: 1fr 2fr 1fr;
		align-items: center;
		// gap: 1rem;
	}

	&__button {
		background-color: $color-black-light-1;
		// flex-grow: 1;
		padding: 0.4rem 0.8rem;

		&:hover {
			background-color: $color-black-light-2;
		}
	}

	&__level {
		padding: 0 0.5rem;
		text-align: center;
	}

	&__restriction-block {
		position: relative;
		flex-grow: 1;
	}

	&__restriction-wrapper {
		position: absolute;
		background-color: rgba($color-black, 0.8);
		inset: 0 0 0 0;
		z-index: 12;

		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__restriction-text-block {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 1rem;
		padding: 0 2rem;

		& i {
			font-size: 3rem;
		}

		& p {
			text-align: center;
		}
	}
}
