.calculator {
	margin-top: 2rem;

	&__grid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 2rem;
	}

	&__branch {
		background-color: $color-bg-a-600;
		display: flex;
		flex-direction: column;
		position: relative;
		border-radius: 1.2rem;
		@include ui-background-blur;
	}

	&__title-block {
		padding: 2.4rem 1.2rem 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: relative;
	}

	&__icon {
		width: 4.8rem;
		aspect-ratio: 1/1;
	}

	&__remaining-stats {
		margin-top: 1.6rem;
	}

	&__branch-perk-description-wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 4.6rem;
		margin-top: 2rem;
		padding: 0 2rem;
	}

	&__branch-perk-description {
		text-align: center;
		text-wrap: balance;
		color: $color-text-400;
		font-size: $ui-font-size-s;
	}

	// hotkeys tooltip
	&__hotkeys-block {
		position: absolute;
		left: 0.8rem;
		top: 0.8rem;
		padding: 0.4rem;
		z-index: 10;
	}

	&__separator {
		width: calc(100% - 5.6rem);
		height: 1px;
		margin: 2rem 2.8rem;
		background-color: $color-bg-a-050;
	}

	// Branch-Tier

	&__stats-block {
		display: flex;
		gap: 4.5rem;
		row-gap: 2rem;
		flex-wrap: wrap;
		justify-content: center;

		&:last-child {
			padding-bottom: 2rem;
		}

		&:not(:last-child) {
			min-height: 30.55rem;
			// border-bottom: 1px solid rgba($color-white, 0.4);
		}
	}

	&__skill {
		width: calc(33.3% - 4.5rem);
		position: relative;
	}

	&__img {
		display: block;
		cursor: pointer;
		max-width: 100%;
		aspect-ratio: 1/1;

		border: 3px solid $color-skill-inactive;
		border-radius: 10px 10px 0 0;
		filter: grayscale(1);

		&.mobility {
			border: 3px solid $color-mobility;
			filter: none;
		}

		&.vitality {
			border: 3px solid $color-vitality;
			filter: none;
		}

		&.weapon-handling {
			border: 3px solid $color-weapon-handling;
			filter: none;
		}

		&.soldier-perk {
			border: 3px solid $color-highlight;
			background-color: $color-black-light-1;
			filter: none;
		}
	}

	&__tooltip {
		width: 300%;
		@include tooltip('up');
	}

	// display tooltip on hover
	&__skill:hover &__tooltip {
		display: block;
	}

	&__tooltip-desc {
		display: block;
	}

	&__tooltip-desc-block {
		margin-top: 0.3rem;
	}

	&__counter-block {
		// margin-top: 5px;
		display: grid;
		grid-template-columns: 1fr 2fr 1fr;
		align-items: center;
		// border-radius: 10px 10px 0 0;
		overflow: hidden;
	}

	&__button {
		background-color: $color-black-light-1;
		// flex-grow: 1;
		// padding: 0.4rem 0.8rem;
		padding: 0.4rem 0;
		text-align: center;

		&:hover {
			background-color: $color-black-light-2;
		}
	}

	&__bars-wrapper {
		content: '';
		height: 100%;
		background-color: $color-black-light-2;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0 0.5rem;
		gap: 2px;
	}

	&__bar {
		background-color: $color-skill-inactive;
		flex-grow: 1;
		height: 60%;
	}

	&__bar-highlight {
		background-color: $color-highlight;

		&.mobility {
			background-color: $color-mobility;
		}

		&.vitality {
			background-color: $color-vitality;
		}

		&.weapon-handling {
			background-color: $color-weapon-handling;
		}
	}

	&__cost-block {
		background-color: $color-black-light-2;
		font-size: 0.8em;
		padding: 0.2em;
		display: flex;
		gap: 2px;
		justify-content: center;
		align-items: center;
		color: rgba($color-white, 0.65);
		border-radius: 0 0 10px 10px;
	}

	// Restriction

	&__restriction-block {
		position: relative;
		flex-grow: 1;
	}

	&__restriction-text-block {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 1.6rem;
		padding-top: 2rem;

		transform: rotateX(00deg);
		transform-origin: top;
		max-height: 20rem;
		transition: 0.5s ease-in-out all;

		&.inactive {
			transform: rotateX(90deg);
			max-height: 0;
		}

		& p {
			text-align: center;
		}
	}

	&__highlight {
		color: $color-primary-200;
	}

	&__restriction-bg {
		margin-top: -2rem;
		background: repeating-linear-gradient(
			-45deg,
			rgba($color-text-700, 0.05),
			rgba($color-text-700, 0.05) 15px,
			transparent 15px,
			transparent 40px
		);

		&.is-transparent {
			background: none;
		}
	}

	// text if not auth
	&__tell-to-login {
		text-align: center;
		margin: 3.2rem auto 0;
		padding: 0 1.2rem;
		width: 100%;
		max-width: 60rem;
		color: $color-text-400;
	}

	// save btn and modal
	&__save-btn {
		display: flex;
		justify-content: center;
		margin-top: 4rem;
	}

	&__tell-to-login ~ .calculator__save-btn {
		margin-top: 2.4rem;
	}
}

#saveBuild:disabled {
	cursor: not-allowed;
	opacity: 0.8;
}
