.ccard {
	// ==========
	// ==========
	// Block with cards
	// ==========
	// ==========
	&__block {
		flex: 0 0 auto;

		display: flex;
		flex-direction: column;
		gap: 2.4rem;

		@include tablet {
			margin: 0 auto;
			width: 100%;
			max-width: 45rem;
		}
	}

	&__header {
		display: flex;
		flex-direction: column;
		gap: 1.2rem;
	}

	&__chips {
		display: flex;
		flex-wrap: wrap;
		gap: 0.8rem;
	}

	&__build-cards {
		display: flex;
		flex-direction: column;
		gap: 0.8rem;
	}

	&__tutorial {
		font-size: $ui-font-size-s;
		color: $color-text-400;
		text-align: center;
	}

	// =====================
	// =====================
	// Individual card
	// =====================
	// =====================
	background-color: $color-bg-a-600;
	width: 100%;
	max-width: 45rem;
	display: flex;
	padding: 0.8rem 0.4rem 0.8rem 1.2rem;
	border-radius: 0.8rem;

	// left and right blocks
	&__main {
		flex: 1 0 auto;
		display: flex;
		flex-direction: column;
		gap: 0.4rem;
	}

	&__pin {
		flex: 0 0 auto;
		display: flex;
		align-items: center;
		// border: 1px pink solid;
	}

	&__pin-btn {
		padding: 1.2rem;
	}

	// upper-left block
	&__title-section {
		display: flex;
		gap: 0.8rem;
	}

	&__title {
		font-size: $ui-font-size-m;
		font-weight: 400;
	}

	&__likes-wrapper {
		display: flex;
		gap: 0.4rem;
	}

	// upper-bottom block
	&__author-section {
		display: flex;
		gap: 0.8rem;
		align-items: center;
	}

	&__pfp {
		width: 1.6rem;
		aspect-ratio: 1/1;
	}

	&__name-date-section {
		display: flex;
		gap: 0.6rem;

		color: $color-text-700;
		font-size: $ui-font-size-s;
		line-height: 1;
	}

	// =====================
	// =====================
	// Pin States
	// =====================
	// =====================

	&__pin-btn {
		& path {
			stroke: $color-text-900;
			fill: transparent;
		}

		@include hovered($color-text-900, $color-bg-a-300);

		&:focus-visible {
			@include focused($color-text-900, $color-bg-a-300);
		}
	}

	&__pin-btn:hover {
		& path {
			stroke: $color-warning-200;
			fill: transparent;
		}
	}

	&__pin-btn.active {
		& path {
			stroke: $color-warning-200;
			fill: $color-warning-200;
		}

		@include hovered($color-warning-200, $color-bg-a-300);

		&:focus-visible {
			@include focused($color-warning-200, $color-bg-a-300);
		}
	}

	&__pin-icon {
		path {
			transition: stroke 0.2s ease-in-out, fill 0.2s ease-in-out;
		}
	}
}
