.ccard {
	// ==========
	// ==========
	// Block with cards
	// ==========
	// ==========
	&__block {
		flex: 0 0 auto;

		display: flex;
		flex-direction: column;
		gap: 2.4rem;

		@include desktop-small {
			margin: 0 auto;
			width: 100%;
			max-width: 45rem;
		}
	}

	&__header {
		display: flex;
		flex-direction: column;
		gap: 1.2rem;
	}

	&__chips {
		display: flex;
		flex-wrap: wrap;
		gap: 0.8rem;
	}

	&__build-cards {
		display: flex;
		flex-direction: column;
		gap: 0.8rem;
	}

	&__tutorial {
		font-size: $ui-font-size-s;
		color: $color-text-700;
		text-align: center;
		text-wrap: pretty;
	}

	&__load-more {
		display: flex;
		flex-direction: column;
		gap: 0.8rem;
		align-items: center;
	}

	&__load-more-desc {
		font-size: $ui-font-size-s;
		color: $color-text-400;
	}

	&__load-more-number {
		text-decoration: underline;
		text-underline-offset: 2px;
	}

	// =====================
	// =====================
	// Individual card
	// =====================
	// =====================
	background-color: $color-bg-a-600;
	@include ui-background-blur;
	width: 100%;
	max-width: 45rem;
	display: flex;
	padding: 0.8rem 0.4rem 0.8rem 1.2rem;
	border-radius: 0.8rem;

	// left and right blocks
	&__main {
		flex: 1 0 auto;
		display: flex;
		flex-direction: column;
		gap: 0.4rem;
	}

	&__pin {
		flex: 0 0 auto;
		display: flex;
		align-items: center;
		z-index: 1;
		// border: 1px pink solid;
	}

	&__pin-btn {
		padding: 1.2rem;
	}

	// upper-left block
	&__title-section {
		display: flex;
		gap: 1.2rem;
	}

	&__header-title {
		font-size: $ui-font-size-m;
		font-weight: 400;
		color: $color-text-400;
	}

	&__title {
		font-size: $ui-font-size-m;
		font-weight: 400;
	}

	&__likes-wrapper {
		display: flex;
		align-items: center;
		gap: 0.2rem;
		color: $color-text-700;
	}

	&__heart-icon {
		transform: translateY(-1px);
	}

	// upper-bottom block
	&__author-section {
		display: flex;
		gap: 0.8rem;
		align-items: center;
	}

	&__pfp {
		width: 1.6rem;
		aspect-ratio: 1/1;
	}

	&__name-date-section {
		display: flex;
		gap: 0.6rem;

		color: $color-text-700;
		font-size: $ui-font-size-s;
		line-height: 1;
	}

	&__name-date-section {
		&:has(.ccard__updated-block) {
			@include desktop-small {
				.ccard__date {
					display: none;
				}
				.ccard__updated-block {
					margin-left: 0rem;
				}
			}
		}
	}

	&__updated-block {
		display: flex;
		gap: 0.2rem;
	}

	// =====================
	// =====================
	// Pin States
	// =====================
	// =====================

	&__pin-btn {
		& path {
			stroke: $color-text-900;
			fill: transparent;
		}

		@include hovered($color-text-900, $color-bg-a-300);

		&:focus-visible {
			@include focused($color-text-900, $color-bg-a-300);
		}
	}

	&__pin-btn:hover {
		& path {
			stroke: $color-warning-200;
			fill: transparent;
		}
	}

	&__pin-btn.active {
		& path {
			stroke: $color-warning-200;
			fill: $color-warning-200;
		}

		@include hovered($color-warning-200, $color-bg-a-300);

		&:focus-visible {
			@include focused($color-warning-200, $color-bg-a-300);
		}
	}

	&__pin-icon {
		path {
			transition: stroke 0.2s ease-in-out, fill 0.2s ease-in-out;
		}
	}
}
