@use "../abstracts/mixins";
@use "../abstracts/variables";

.chip {
	padding: 0.8rem 1.2rem;
	border-radius: 0.8rem;
	background-color: variables.$color-bg-a-500;
	border: 1px solid variables.$color-bg-050;
	@include mixins.ui-shadow;
	@include mixins.ui-background-blur;
	cursor: pointer;
	transition: color 0.12s ease-in-out, border 0.12s ease-in-out;

	@include mixins.hovered(variables.$color-text-100, variables.$color-bg-a-500);

	&:focus-visible {
		@include mixins.focused(variables.$color-text-100, variables.$color-bg-a-500);
	}

	&:disabled {
		@include mixins.disabled-outlined(variables.$color-text-100, variables.$color-bg-050);
	}

	& svg {
		display: block;
	}
}

.chip-square {
	padding: 1.2rem;
	border-radius: 1.2rem;
	display: grid;
	place-items: center;
	cursor: pointer;

	& svg {
		display: block;
	}

	& img {
		height: 3.2rem;
		aspect-ratio: 1/1;
	}
}

.chip.active {
	color: variables.$color-primary-200;
	border: 1px solid variables.$color-primary-200;

	& path {
		fill: variables.$color-primary-200;
	}

	@include mixins.hovered(variables.$color-primary-200, variables.$color-bg-a-500);

	&:focus-visible {
		@include mixins.focused(variables.$color-primary-200, variables.$color-bg-a-500);
	}

	&:disabled {
		@include mixins.disabled-outlined(variables.$color-primary-200, variables.$color-primary-200);
	}
}
