@use '../abstracts/mixins';
@use '../abstracts/variables' as v;

.chip {
	padding: 0.8rem 1.2rem;
	border-radius: 0.8rem;
	background-color: v.$color-bg-a-500;
	border: 1px solid v.$color-bg-050;
	@include mixins.ui-shadow;
	@include mixins.ui-background-blur;
	cursor: pointer;
	transition: color 0.12s ease-in-out, border 0.12s ease-in-out;

	@include mixins.hovered(v.$color-text-100, v.$color-bg-a-500);

	&:focus-visible {
		@include mixins.focused(v.$color-text-100, v.$color-bg-a-500);
	}

	&:disabled {
		@include mixins.disabled-outlined(v.$color-text-100, v.$color-bg-050);
	}

	& svg {
		display: block;
	}
}

.chip-square {
	padding: 1.2rem;
	border-radius: 1.2rem;
	display: grid;
	place-items: center;
	cursor: pointer;

	& svg {
		display: block;
	}

	& img {
		height: 3.2rem;
		aspect-ratio: 1/1;
	}
}

.chip.active {
	color: v.$color-primary-200;
	border: 1px solid v.$color-primary-200;

	& path {
		fill: v.$color-primary-200;
	}

	@include mixins.hovered(v.$color-primary-200, v.$color-bg-a-500);

	&:focus-visible {
		@include mixins.focused(v.$color-primary-200, v.$color-bg-a-500);
	}

	&:disabled {
		@include mixins.disabled-outlined(
			v.$color-primary-200,
			v.$color-primary-200
		);
	}
}
