@use "../abstracts/mixins";
@use "../abstracts/variables";

.dialog {
	&__page-mask {
		@include mixins.modal-page-mask;
	}

	&__title {
		margin: 0 auto;
		text-wrap: balance;
	}

	&__desc {
		margin-top: 2rem;
		text-align: left;
		color: variables.$color-text-400;
		font-size: variables.$ui-font-size-s;
	}

	&__accent,
	&__desc span {
		color: variables.$color-primary-200;
		font-weight: 700;
	}

	&__buttons {
		margin-top: 4rem;
		display: flex;
		gap: 1.6rem;
		width: 100%;

		& .btn {
			flex: 1 1 auto;
		}
	}
}
