.error1 {
	position: fixed;
	left: 50%;
	bottom: 4rem;
	transform: translate(-50%, 0%);

	// box-shadow: 0 0 4rem $color-error;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column-reverse;
	gap: 1rem;

	&__item {
		background-color: $color-black-light-1;
		border-left: 5px solid $color-error;
		padding: 4rem 8rem 4rem 4rem;
		animation: error-shaking-and-move-out 2s linear;
	}

	&__btn-close {
		position: absolute;
		opacity: 0.8;
		right: 1rem;
		top: 1rem;
	}

	&__title {
		margin-bottom: 5px;
	}

	&__desc {
		font-size: 0.8em;
		opacity: 0.8;
	}
}

@keyframes tilt-n-move-shaking {
	0% {
		transform: translate(0, 0) rotate(0deg);
	}
	25% {
		transform: translate(2px, 2px) rotate(2deg);
	}
	50% {
		transform: translate(0, 0) rotate(0deg);
	}
	75% {
		transform: translate(-2px, 2px) rotate(-2deg);
	}
	100% {
		transform: translate(0, 0) rotate(0deg);
	}
}

@keyframes move-out-down {
	0% {
		transform: translate(-50%, 0%) rotate(0deg);
		opacity: 1;
	}
	100% {
		transform: translate(-50%, 200%) rotate(0deg);
		opacity: 0;
	}
}

@keyframes error-shaking-and-move-out {
	0% {
		transform: translate(0, 0) rotate(0deg);
	}
	2.5% {
		transform: translate(2px, 2px) rotate(2deg);
	}
	5% {
		transform: translate(0, 0) rotate(0deg);
	}
	7.5% {
		transform: translate(-2px, 2px) rotate(-2deg);
	}
	10% {
		transform: translate(0, 0) rotate(0deg);
	}
	90% {
		transform: translate(0, 0) rotate(0deg);
		opacity: 1;
	}
	100% {
		transform: translate(0, 200%) rotate(0deg);
		opacity: 0;
	}
}
