@use '../abstracts/mixins';
@use '../abstracts/variables' as v;

.faq {
	&__section-title-wrapper {
		display: flex;
		justify-content: center;
		margin: 6rem auto 0;
	}

	&__section-title {
		text-align: center;
		text-transform: uppercase;

		// text-decoration: underline $color-primary-200;
		// text-decoration-thickness: 8px;
		// text-underline-offset: -2px;
		// text-decoration-skip-ink: none;
	}

	&__group-title {
		margin: 6rem 0 2rem;
	}

	&__group {
		display: flex;
		flex-direction: column;
		gap: 0.8rem;
	}

	&__item {
		border-radius: 1.2rem;
		overflow: hidden;

		// margin-bottom: 0;
		// transition: 0.2s ease-in-out margin-bottom;

		&[open] {
			// margin-bottom: 1.6rem;

			.faq {
				&__title {
					background-color: v.$color-bg-500;
					// padding: 1.2rem 2.4rem 1.2rem 2rem;
				}

				&__content {
					border-radius: 0 0 1.2rem 1.2rem;
				}
			}
		}
	}

	&__title {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 1.2rem;
		padding: 2rem 2.4rem 2rem 2rem;
		background-color: v.$color-bg-900;
		cursor: pointer;

		transition: 0.2s ease-in-out padding;
	}

	&__title-text {
		flex: 1 1 auto;
	}

	&__expand {
		flex: 0 0 auto;
	}

	&__content {
		padding: 1.2rem 2rem;
		background-color: v.$color-bg-a-500;
		color: v.$color-text-400;
		@include mixins.ui-background-blur;

		& p:not(:first-child) {
			margin-top: 0.8rem;
		}
	}
}

// Hide default markers
.faq__item {
	summary {
		/* Hides marker on Chrome */
		outline: none;
		list-style: none;
	}

	summary::-webkit-details-marker {
		/* Hides marker on Safari */
		display: none;
	}
}
