.filter {
	&__block {
		position: relative;
		margin-top: 3.2rem;
		display: flex;
		width: 100%;
		gap: 2rem;
	}

	&__item {
		position: relative;
		display: flex;
		gap: 0.8rem;
	}

	&__selected {
		display: flex;
		gap: 0.4rem;
		transition: 0.15s ease-in-out color;

		&:hover {
			color: $color-primary-200;
		}
	}

	&__chevron {
		font-size: 0.8em;
		transition: 0.15s ease-out transform;

		&.rotate {
			transform: rotateX(-180deg);
		}
	}

	// Classes
	&__classes-block {
		z-index: 40;
		position: absolute;
		left: 0;
		top: 90%;
		background: $color-bg-500;
		padding: 2rem 2.8rem;
		@include ui-shadow;
		border-radius: 1.2rem;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		flex-wrap: wrap;
		gap: 0.8rem;
	}

	&__separator {
		content: '';
		height: 32px;
		width: 1px;
		background-color: $color-bg-050;
	}

	&__group {
		display: flex;
		flex-wrap: nowrap;
		gap: 0.8rem;
		align-items: center;

		&--btns-only {
			margin-left: -1.2rem;
		}
	}

	&__group-title {
		height: 100%;
		display: flex;
		gap: 0.4rem;
		align-items: center;
	}

	&__group-levels {
		display: flex;
	}

	&__icon {
		height: 2rem;
	}

	&__class {
		padding: 1.2rem;
		display: flex;
		align-items: center;
		gap: 0.4rem;
		transition: 0.15s ease-in-out background, 0.15s ease-in-out color;

		&--no-icons {
			&:nth-child(1) {
				padding: 1.2rem 1.2rem 1.2rem 1.6rem;
			}
			&:last-child {
				padding: 1.2rem 1.6rem 1.2rem 1.2rem;
			}
		}
	}

	// sort by
	&__sort-by-block {
		z-index: 21;
		position: absolute;
		left: 50%;
		top: 90%;
		transform: translateX(-50%);
		background: $color-black-light-2;
		padding: 1.5rem 1rem;
		box-shadow: 0 0 2.5rem rgba($color-black, 0.4);
		border-radius: 1rem;
		min-width: 20rem;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	&__sort-by-desc {
		font-size: 0.75em;
		opacity: 0.8;
		padding: 0.5rem 2rem 1rem;
	}

	&__sort-item {
		padding: 1rem 2rem;
		width: 100%;
		border-radius: 1rem;
		cursor: pointer;
		display: flex;
		align-items: center;
		gap: 0.4rem;
		transition: 0.15s ease-in-out background, 0.15s ease-in-out color;

		&:hover {
			background: $color-black-light-1;
			// color: $color-highlight;
		}
	}

	// under
	&__under {
		margin-top: 3.2rem;
	}
}
