.footer {
	margin-top: 4rem;
	background-color: $color-black;

	&__container {
		padding: 4rem 2rem 4rem;
	}

	&__block {
		display: grid;
		grid-template-columns: 2fr 3fr;
		justify-content: center;
		align-items: start;
		gap: 2rem;
	}

	&__legal {
		font-size: 0.8em;
		opacity: 0.8;
		margin: 0 2rem;
		text-align: center;
	}

	&__links-block {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 2rem;
		margin-top: 1rem;
	}

	&__how-to-contact {
		opacity: 0.8;
	}

	&__link-w-tooltip {
		cursor: pointer;
		position: relative;
		display: block;

		&:hover .footer__link-tooltip {
			display: block;
		}
	}

	&__link-tooltip {
		width: 50%;
		@include tooltip('up');
		left: 0%;
		transform: translate(0%, -100%);
		cursor: text;
		background-color: $color-black-light-1;

		&::after {
			display: none;
		}
	}
}
