.header {
	background-color: $color-black;

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 2rem;
	}

	&__links-list {
		display: flex;
		align-items: center;
		list-style: none;
		gap: 4rem;
		padding: 2rem 0;
	}

	// users related
	&__user-block {
		// position: relative;
		display: flex;
		height: calc(2rem + 2.6rem + 1.1rem);
		align-items: center;
		gap: 1rem;
		cursor: pointer;

		& i {
			font-size: 2.6rem;
		}
	}

	&__user-img {
		height: 4.2rem;
		width: 4.2rem;
		object-fit: cover;
		border-radius: 1rem;

		&--blank {
			background-color: mix(#fff, $color-skill-inactive, 10%);
			display: flex;
			justify-content: center;
			align-items: center;

			i {
				font-size: 1.4em;
				color: mix(#fff, $color-skill-inactive, 70%);
			}
		}
	}

	&__right {
		position: relative;
	}

	// line on links
	&__link {
		padding: 2rem 0;
		position: relative;

		& span {
			padding-left: 1rem;
		}
	}

	&__link::before,
	&__user-block::before {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 2px;
		background-color: $color-white;
		transform-origin: right;
		transform: scaleX(0);
		transition: transform 0.3s ease-in-out;
	}

	&__link:hover::before,
	&__user-block:hover::before {
		transform-origin: left;
		transform: scaleX(1);
	}

	&__link::after,
	&__user-block::after {
		content: '';
		position: absolute;
		top: 0;
		right: 50%;
		width: 0;
		height: 2px;
		background-color: #747b5a;
		transform-origin: left;
		transform: scaleX(0);
		transition: transform 0.3s ease-in-out;
	}

	&__link:hover::after,
	&__user-block:hover::after {
		transform-origin: right;
		transform: scaleX(1);
	}

	// profile menu popup
	&__profile {
		&-popup {
			display: block;
			position: absolute;
			z-index: 21;
			transform: translate(8px, -2px);
			right: 0;
			background-color: $color-black-light-1;
			width: 23rem;
			border-radius: 1rem;
			padding: 1rem;

			animation: fade-in 0.2s ease-out;
		}

		&-popup-block {
			display: flex;
			flex-direction: column;
		}

		&-link {
			display: flex;
			align-items: center;
			gap: 0.8rem;
			padding: 0.5rem 1rem;
			border-radius: 0.5rem;
			cursor: pointer;

			i {
				text-align: center;
				width: 2rem;
				opacity: 0.8;
			}

			&:hover {
				background-color: mix(#fff, $color-black-light-1, 4%);
			}
		}

		&-data-block {
			display: flex;
			gap: 1rem;
			align-items: center;
			padding: 0.5rem;
		}

		&-user-img {
			width: 5.5rem;
			border-radius: 1rem;
		}
	}

	&__breakline {
		border-top: 1px solid rgba($color-white, 0.1);
		margin-top: 1rem;
		margin-left: 0.5rem;
		margin-right: 0.5rem;
		padding-bottom: 1rem;
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
