@use "../abstracts/mixins";
@use "../abstracts/variables";

.input {
	&__label {
		font-size: variables.$ui-font-size-s;
	}

	&__content {
		margin-top: 0.4rem;
		display: flex;
		gap: 2rem;
	}

	&__btn {
		padding: 1.2rem;
		border-radius: 0.8rem;
		height: min-content;
		flex: 0 0 auto;

		& > * {
			display: block;
		}
	}

	&__main-content {
		display: flex;
		flex-direction: column;
		flex: 1 1 auto;
		gap: 0.4rem;
	}

	&__input {
		border-radius: 1.2rem;
		padding: 1.2rem 1.6rem;
		color: variables.$color-text-100;
		background-color: variables.$color-bg-800;
		outline: 1px solid variables.$color-bg-a-050;
		font-size: variables.$ui-font-size-base;
		color-scheme: dark;

		&[type='datetime-local']::-webkit-calendar-picker-indicator {
			filter: invert(28%);
		}

		&::placeholder {
			color: variables.$color-text-700;
		}

		&:focus-visible {
			@include mixins.focused(variables.$color-text-100, variables.$color-bg-800);
		}

		&.error {
			outline: 1px solid variables.$color-danger-200;
		}
	}

	&__sub-text {
		display: flex;
		width: 100%;
		justify-content: space-between;
		gap: 2rem;
	}

	&__error {
		color: variables.$color-danger-100;
		font-size: variables.$ui-font-size-m;
	}

	&__desc {
		text-align: right;
		align-self: flex-end;
		color: variables.$color-text-700;
		font-size: variables.$ui-font-size-xs;
		flex: 0 0 auto;

		@include mixins.tablet {
			max-width: 80dvw;
			word-break: break-word;
		}
	}
}
