.lower-popup {
	&__item {
		position: fixed;
		left: 50%;
		bottom: 4rem;
		transform: translate(-50%, 0%);
		background-color: $color-black-light-1;
		padding: 3rem 6rem 3rem 3rem;

		&.error {
			border-left: 5px solid $color-error;
			display: block;
		}

		&.success {
			border-left: 5px solid $color-success;
		}
	}

	&__btn-close {
		position: absolute;
		opacity: 0.8;
		right: 1rem;
		top: 1rem;
	}

	&__title {
		margin-bottom: 5px;
	}

	&__desc {
		font-size: 0.85em;
		opacity: 0.8;
	}
}
