// .modal {
// 	&__page-mask {
// 		@include page-mask;
// 	}

// 	&__popup {
// 		@include popup;
// 		padding: 2rem;
// 		display: flex;
// 		flex-direction: column;
// 		align-items: center;
// 		justify-content: center;
// 		gap: 3rem;

// 		&-calc {
// 			max-width: 50rem;
// 		}
// 	}

// 	&__close-btn {
// 		position: absolute;
// 		top: 1rem;
// 		right: 1rem;
// 		padding: 1rem;
// 	}

// 	&__error-msg {
// 		color: $color-error;
// 	}

// 	&__input-block {
// 		display: flex;
// 		flex-direction: column;
// 		gap: 2rem;
// 		width: 80%;
// 	}

// 	&__input-item {
// 		display: flex;
// 		flex-direction: column;
// 		gap: 0.5rem;

// 		& input {
// 			border: 1px solid $color-skill-inactive;
// 			padding: 1rem 1.5rem;
// 		}

// 		&-inline {
// 			display: flex;
// 			gap: 0.5rem;
// 		}

// 		&-required {
// 			label::after {
// 				padding-left: 0.15em;
// 				content: '*';
// 				color: $color-error;
// 			}
// 		}

// 		&-counter {
// 			text-align: right;
// 			color: $color-skill-inactive;
// 			font-size: 0.75em;
// 			transition: 0.15s ease-in-out color;

// 			&--error {
// 				color: $color-error;
// 			}
// 		}
// 	}

// 	&__or-text {
// 		display: flex;
// 		width: 80%;
// 		gap: 1rem;
// 		text-transform: uppercase;
// 		color: $color-skill-inactive;

// 		span {
// 			transform: translateY(0.5em);
// 			height: 1px;
// 			flex-grow: 1;
// 			background-color: $color-skill-inactive;
// 		}
// 	}

// 	&__switch-states {
// 		text-align: center;
// 		a {
// 			color: $color-highlight;
// 			text-decoration: underline;
// 		}
// 	}

// 	&__text-desc {
// 		margin-top: -1rem;
// 		font-size: 0.8em;
// 		opacity: 0.6;
// 	}

// 	&__btn:disabled {
// 		cursor: not-allowed;
// 		opacity: 0.8;
// 	}
// }

.modal {
	z-index: 40;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: clamp(20rem, calc(100% - 4rem), 34rem);
	margin: 0 auto;
	padding: 4rem 2rem 2rem;
	background-color: $color-bg-a-700;
	@include ui-background-blur;
	border-radius: 1.2rem;
	text-align: center;

	&__btn {
		position: absolute;
		right: 0;
		top: 0;
		padding: 1.2rem;
	}

	&__title {
		margin: 0 auto;
		text-wrap: balance;
	}

	&__google-btn {
		display: flex;
		align-items: center;
		justify-content: space-between;
		background-color: $color-text-100;
		margin: 6rem auto 0;
		padding: 1.2rem 1.2rem;
		border-radius: 0.8rem;
		gap: 1.2rem;

		@include pressed($color-bg-100, $color-text-100, 2.5);

		&:hover {
			@include hovered($color-bg-100, $color-text-100);
		}

		&:focus {
			@include focused($color-bg-100, $color-text-100);
		}
	}

	&__google-icon {
		flex: 0 0 auto;
		width: fit-content;
	}

	&__google-text {
		color: $color-bg-100;
	}

	&__legal {
		margin-top: 8rem;
		color: $color-text-400;
	}

	&__link {
		color: $color-primary-200;
		text-decoration: underline;
	}
}
