.modal {
	// Base modal template styles
	z-index: 40;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: clamp(20rem, calc(100% - 4rem), 34rem);
	margin: 0 auto;
	padding: 3.2rem 2rem 2rem;
	background-color: $color-bg-a-700;
	@include ui-background-blur;
	border-radius: 1.2rem;
	text-align: center;

	&__btn {
		position: absolute;
		right: 0;
		top: 0;
		padding: 1.2rem;
	}

	// ==============
	// Universal styles

	&__title {
		margin: 0 auto;
		text-wrap: balance;
	}

	// "Register" modal

	&__google-btn {
		display: flex;
		align-items: center;
		justify-content: space-between;
		background-color: $color-text-100;
		margin: 6rem auto 0;
		padding: 1.2rem 1.2rem;
		border-radius: 0.8rem;
		gap: 1.2rem;

		@include pressed($color-bg-100, $color-text-100, 2.5);

		&:hover {
			@include hovered($color-bg-100, $color-text-100);
		}

		&:focus {
			@include focused($color-bg-100, $color-text-100);
		}
	}

	&__google-icon {
		flex: 0 0 auto;
		width: fit-content;
	}

	&__google-text {
		color: $color-bg-100;
	}

	&__legal {
		margin-top: 6rem;
		font-size: $ui-font-size-s;
		color: $color-text-400;
	}

	&__link {
		color: $color-primary-200;
		text-decoration: underline;
	}

	// "Contacts" modal
	&__body {
		display: flex;
		width: 100%;
		flex-direction: column;
		gap: 2rem;
		text-align: left;
		color: $color-text-400;
		margin-top: 2.4rem;
		font-size: $ui-font-size-s;
	}

	&__contacts {
		display: flex;
		flex-direction: column;
		gap: 0.8rem;
	}

	&__contact {
		display: flex;
		align-items: center;
		gap: 0.8rem;
		font-size: $ui-font-size-base;
		color: $color-text-100;
	}

	&__contact.modal__link {
		text-decoration: underline;
	}

	// Save Modal
	&__desc {
		font-size: $ui-font-size-s;
	}

	&__input-checkbox {
		display: flex;
		align-items: center;
		color: $color-text-100;
		gap: 0.8rem;
	}

	&__confirm {
		margin-top: 2rem;
		width: 100%;
	}
}
