@use '../abstracts/mixins';
@use '../abstracts/variables' as v;

.popup {
	position: fixed;
	bottom: 3.2rem;
	left: 50%;
	transform: translateX(-50%);
	width: 95%;
	max-width: 60rem;
	padding: 3.2rem 2rem 3.2rem 2.4rem;
	background-color: v.$color-bg-a-500;
	border-radius: 0.8rem;
	overflow: hidden;
	@include mixins.ui-background-blur;

	&::after {
		content: '';
		position: absolute;
		left: 0;
		width: 0.4rem;
		top: 0;
		bottom: 0;
		background-color: v.$color-text-700;
	}

	&.danger {
		&::after {
			background-color: v.$color-danger-200;
		}
	}

	&.warning {
		&::after {
			background-color: v.$color-warning-200;
		}
	}

	&.success {
		&::after {
			background-color: v.$color-success-200;
		}
	}

	&__wrapper {
		display: flex;
		flex-direction: column;
		gap: 0.8rem;
	}

	&__desc {
		color: v.$color-text-400;
	}
}
