@use '../abstracts/mixins';
@use '../abstracts/variables' as v;

.profile {
	&__avatar-block {
		display: flex;
		align-items: center;
		gap: 1.6rem;
		margin-top: 4rem;
	}

	&__avatar {
		height: 8rem;
		aspect-ratio: 1/1;
		object-fit: cover;
		border-radius: 0.8rem;
	}

	&__block {
		display: flex;
		flex-direction: column;
		gap: 4rem;
		margin-top: 4rem;
		width: 100%;
		max-width: 52rem;
	}

	&__text-block {
		display: flex;
		flex-direction: column;
		gap: 1.2rem;
	}

	&__change-photo-block {
		display: flex;
		gap: 1.6rem;
	}

	&__change-photo-avatar {
		height: 8rem;
		aspect-ratio: 1/1;
		object-fit: cover;
		border-radius: 0.8rem;
		flex: 0 0 auto;
	}

	&__change-photo-radio-block {
		display: flex;
		flex-direction: column;
		gap: 0.8rem;
	}

	&__change-photo-radio-line {
		display: flex;
		gap: 0.4rem;
	}

	&__option-desc {
		font-size: v.$ui-font-size-s;
		color: v.$color-text-400;

		&--google {
			@include mixins.slide-fade-toggle('shown', 180ms, 120px);
		}
	}

	&__delete-block {
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}

	&__btn {
		width: fit-content;
	}

	&__title-desc-action-block {
		display: flex;
		align-items: center;
		gap: 2rem;
	}

	&__title-desc-block {
		display: flex;
		flex-direction: column;
		gap: 1.2rem;

		&--fw {
			flex: 1 1 auto;
		}
	}

	&__checkbox-wrapper {
		line-height: 100%;
		padding: 0.8rem 1.2rem;
		border-radius: 0.8rem;
		transform: scale(1.5);

		@include mixins.tablet {
			transform: scale(1.25);
		}
	}

	&__chips-flex {
		display: flex;
		gap: 0.8rem;

		& > .chip {
			flex: 1 1 auto;
		}
	}
}
