.profile {
	&__avatar-block {
		display: flex;
		align-items: center;
		gap: 1.6rem;
		margin-top: 4rem;
	}

	&__avatar {
		height: 8rem;
		aspect-ratio: 1/1;
		object-fit: cover;
		border-radius: 0.8rem;
	}

	&__block {
		display: flex;
		flex-direction: column;
		gap: 4rem;
		margin-top: 4rem;
		width: 100%;
		max-width: 52rem;
	}

	&__text-block {
		display: flex;
		flex-direction: column;
		gap: 1.2rem;
	}

	&__change-photo-block {
		display: flex;
		align-items: center;
		gap: 1.6rem;
	}

	&__change-photo-avatar {
		height: 6rem;
		aspect-ratio: 1/1;
		object-fit: cover;
		border-radius: 0.8rem;
	}

	&__option-desc {
		font-size: $ui-font-size-s;
		color: $color-text-400;
	}

	&__delete-block {
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}

	&__btn {
		width: fit-content;
	}

	&__title-desc-action-block {
		display: flex;
		align-items: center;
		gap: 2rem;
	}

	&__title-desc-block {
		display: flex;
		flex-direction: column;
		gap: 1.2rem;
	}

	&__checkbox-wrapper {
		line-height: 100%;
		padding: 0.8rem 1.2rem;
		border-radius: 0.8rem;
		transform: scale(1.5);
	}
}
