.tooltip-anchor {
	position: relative;

	@include showTooltip;
}

.tooltip-anchor--no-relative {
	@include showTooltip;
}

.tooltip {
	--tooltip-arrow-position: '50%';
	position: absolute;
	padding: 0.8rem 1.2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.4rem;
	width: 40rem;
	z-index: 20;
	border-radius: 0.8rem;
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.12s ease-in, visibility 0.2s ease-in;
	@include ui-shadow;
	// @include ui-background-blur;

	color: $color-text-100;
	background-color: $color-bg-500;

	&.dark {
		background-color: $color-bg-800;
	}

	&::after {
		content: '';
		position: absolute;
		left: var(--tooltip-arrow-position);
		width: 10px;
		height: 10px;
		z-index: 5;
	}

	&::before {
		position: absolute;
		content: '';
	}

	&.top,
	&.bottom {
		left: 50%;
	}

	&.top::before,
	&.bottom::before {
		left: 0;
		right: 0;
		height: 1rem;
	}

	& p {
		text-align: center;
	}

	// Top
	&.top {
		top: -0.8rem;
		transform: translate(-50%, -100%);

		&::after {
			bottom: 0px;
			transform: translate(-50%, 50%) rotateZ(45deg);
			background: linear-gradient(-45deg, $color-bg-500 60%, transparent 60%);
		}

		&::before {
			bottom: -1rem;
		}
	}

	&.dark.top::after {
		background: linear-gradient(-45deg, $color-bg-800 60%, transparent 60%);
	}

	// bottom
	&.bottom {
		bottom: -0.8rem;
		transform: translate(-50%, 100%);

		&::after {
			top: 0px;
			transform: translate(-50%, -50%) rotateZ(135deg);
			background: linear-gradient(45deg, $color-bg-500 60%, transparent 60%);
		}

		&::before {
			top: -1rem;
		}
	}

	&.dark.bottom::after {
		background: linear-gradient(45deg, $color-bg-800 60%, transparent 60%);
	}

	// left
	&.left {
		left: -0.8rem;
		top: 50%;
		transform: translate(-100%, -50%);

		&::after {
			right: 0;
			top: 50%;
			transform: translate(50%, -50%) rotateZ(-135deg);
			background: linear-gradient(45deg, $color-bg-500 60%, transparent 60%);
		}

		&::before {
			left: 100%;
			top: 0;
			bottom: 0;
			width: 1rem;
		}
	}

	&.dark.left::after {
		background: linear-gradient(45deg, $color-bg-800 60%, transparent 60%);
	}

	// right
	&.right {
		align-items: flex-start;
		right: -0.8rem;
		top: 50%;
		transform: translate(100%, -50%);

		& p {
			text-align: left;
		}

		&::after {
			left: 0;
			top: 50%;
			transform: translate(-50%, -50%) rotateZ(45deg);
			background: linear-gradient(45deg, $color-bg-500 60%, transparent 60%);
		}

		&::before {
			right: 100%;
			top: 0;
			bottom: 0;
			width: 1rem;
		}
	}

	&.dark.right::after {
		background: linear-gradient(45deg, $color-bg-800 60%, transparent 60%);
	}
}
