@use "../abstracts/mixins";

.container {
	margin-left: auto;
	margin-right: auto;
	min-width: 32rem;
	max-width: 144rem;
	padding-left: 2rem;
	padding-right: 2rem;
	padding-bottom: 2rem;

	@include mixins.desktop-small {
		// max-width: 120rem;
		max-width: 98dvw;
	}

	@include mixins.phone {
		padding-left: 1rem;
		padding-right: 1rem;
	}

	// &:last-child {
	// 	margin-bottom: 2rem;
	// }

	// @media (max-width: 620px) {

	// }
}

.container-sm {
	width: 100%;
	max-width: 80rem;
	margin: 0 auto;
}

.page-wrapper {
	position: relative;
	display: flex;
	flex-direction: row;
	min-height: 100vh;
}

.main {
	margin-bottom: 6.4rem;
	flex-grow: 1;
	padding-left: 0;
	margin-left: 0;
	transition: margin-left 0.2s ease-in-out;

	@include mixins.desktop-small {
		padding-left: 0;
	}
}

.aside:hover ~ .main {
	margin-left: calc(7.2rem - 24rem);
}

@include mixins.desktop-small {
	.aside:hover ~ .main {
		margin-left: 0;
	}
}
