.table-header {
	font-weight: 700;
	padding: 1rem 2rem 0;

	display: grid;
	grid-template-columns: 19.5rem repeat(5, 1fr) 4fr;
	gap: 5px;

	@media (max-width: 1100px) {
		grid-template-columns: 21.5rem repeat(5, 1fr);
		gap: 5px;

		&__col--desc {
			display: none;
		}
	}

	@media (max-width: 640px) {
		gap: 2px 2px;
		padding: 0.5rem;
		grid-template-columns: 13.2rem repeat(5, 1fr);
	}

	&__col--name {
		min-width: 92px;
	}

	&__col {
		background-color: $color-black;
		text-align: center;
		flex-basis: 10%;
		padding: 1rem;

		@media (max-width: 620px) {
			font-size: 0.6em;
		}
	}

	// tooltip on normal state
	&__search-bar {
		display: flex;
		flex-direction: row;
		gap: 10px;
		position: relative;

		&:hover .table-header__search-tooltip {
			display: flex;
		}
	}

	&__search-input {
		border-bottom: 1px solid rgba($color-white, 0.4);
		width: 100%;
	}

	&__search-tooltip {
		width: 150%;
		@include tooltip('down');
		flex-direction: column;
		gap: 6px;

		&--desc {
			opacity: 0.6;
		}
	}

	// tooltip on filtered state
	&__col--name {
		text-align: left;
		position: relative;

		&.filtered {
			cursor: pointer;
		}

		&:hover .table-header__col--name-tooltip {
			display: flex;
		}
	}

	&__col--name-tooltip {
		text-align: center;
		width: 100%;
		max-width: 200%;
		@include tooltip('down');
	}
}
