.table-header {
	font-weight: 700;
	padding: 1rem 2rem 0;

	display: grid;
	grid-template-columns: 19.5rem repeat(5, 1fr) 4fr;
	gap: 5px;

	@media (max-width: 1100px) {
		grid-template-columns: 21.5rem repeat(5, 1fr);
		gap: 5px;

		&__col--desc {
			display: none;
		}
	}

	@media (max-width: 640px) {
		gap: 2px 2px;
		padding: 0.5rem;
		grid-template-columns: 13.2rem repeat(5, 1fr);
	}

	&__col--name {
		min-width: 92px;
	}

	&__col {
		background-color: $color-black;
		text-align: center;
		flex-basis: 10%;
		padding: 1rem;

		@media (max-width: 620px) {
			font-size: 0.6em;
		}
	}

	&__search-bar {
		display: flex;
		flex-direction: row;
		gap: 5px;
	}

	&__search-input {
		border-bottom: 1px solid rgba($color-white, 0.4);
		width: 100%;
	}
}
